T2_P3
<header class="jumbotron" style="background-color:#A9F16C">
    <div class="container">
      <div class="row">
        <h1>VARIABLE LIST</h1>
        <table style="font-size: 16px;">
          <tr>
            <td>guid&nbsp;=&nbsp;</td>&nbsp;<td>{{.traffic.GUID}}</td>
          </tr>
          <tr>
            <td>DeviceType&nbsp;=&nbsp;</td>&nbsp;<td>{{.traffic.DeviceType}}</td>
          </tr>
          <tr>
            <td>networkID&nbsp;=&nbsp;</td><td>{{.traffic.NetworkID}}</td>
          </tr>
          <tr>
            <td>clickID&nbsp;=&nbsp;</td><td>{{.traffic.ClickID}}</td>
          </tr>
          <tr>
            <td>tid&nbsp;=&nbsp;</td><td>{{.traffic.TID}}</td>
          </tr>
          <tr>
            <td>page&nbsp;=&nbsp;</td><td>{{.traffic.Page}}</td>
          </tr>
          <tr>
            <td>gclid&nbsp;=&nbsp;</td><td>{{.traffic.GCLID}}</td>
          </tr>
          <tr>
            <td>p1&nbsp;=&nbsp;</td><td>{{.traffic.P1}}</td>
          </tr>
          <tr>
            <td>p2&nbsp;=&nbsp;</td><td>{{.traffic.P2}}</td>
          </tr>
          <tr>
            <td>p3&nbsp;=&nbsp;</td><td>{{.traffic.P3}}</td>
          </tr>
          <tr>
            <td>p4&nbsp;=&nbsp;</td><td>{{.traffic.P4}}</td>
          </tr>
          <tr>
            <td>p5&nbsp;=&nbsp;</td><td>{{.traffic.P5}}</td>
          </tr>
        </table>
      </div>
    </div>
  </header>

<div class="container">
  <div class="row">
    <div class="span6">
      {{template "flash.html" .}}
    </div>
    <span class="span6">
        <form method="POST" action="/order" id="request-form" > 
            <!-- Traffic Information -->         
            <input type="hidden" name="traffic.GUID" value="{{.traffic.GUID}}">
            <input type="hidden" name="traffic.GUIDTime" value="{{.traffic.GUIDTime}}">
            <input type="hidden" name="traffic.NetworkID" value="{{.traffic.NetworkID}}">
            <input type="hidden" name="traffic.URL" value="{{.traffic.URL}}">
            <input type="hidden" name="traffic.IP" value="1"> 
            <input type="hidden" name="traffic.Page" value="1"> 
            <input type="hidden" name="traffic.NetworkID" value="1"> 
            <input type="hidden" name="traffic.ClickID" value="{{.traffic.ClickID}}">
            <input type="hidden" name="traffic.TID" value="{{.traffic.TID}}">
            <input type="hidden" name="traffic.GCLID" value="{{.traffic.GCLID}}">                        
            <input type="hidden" name="traffic.UserAgent" value="{{.traffic.UserAgent}}">    
            <input type="hidden" name="traffic.DeviceType" value="{{.traffic.DeviceType}}">    
            <input type="hidden" name="traffic.P1" value="{{.traffic.P1}}">    
            <input type="hidden" name="traffic.P2" value="{{.traffic.P2}}">    
            <input type="hidden" name="traffic.P3" value="{{.traffic.P3}}">    
            <input type="hidden" name="traffic.P4" value="{{.traffic.P4}}">    
            <input type="hidden" name="traffic.P5" value="{{.traffic.P5}}">

            <!-- Order Information -->
            <input type="hidden" name="orderh.OrderID" value="{{.traffic.GUID}}">
            <input type="hidden" name="orderh.ProductCode" value="XX">    
            <input type="hidden" name="orderh.Phone" value="081212626030">    
            <input type="hidden" name="orderh.Status" value="NEW_ORDER">    
            <input type="hidden" name="orderd.OrderID" value="{{.traffic.GUID}}">
            <input type="hidden" name="orderd.Name" value="Kharis Hidayatullah">    
            <input type="hidden" name="orderd.Address" value="Jalan H Merin no11 RT2 RW2, Kembangan, Jakarta Barat">    
            <input type="hidden" name="orderd.NumberOfOrder" value="3">    
            <input type="hidden" name="orderd.PacketType" value="3">    
            <input type="hidden" name="orderd.Email" value="kharis.hidayatullah@gmail.com">    
            <input type="hidden" name="orderd.PaymentMethod" value="BT">    
            <input type="hidden" name="orderd.BankCode" value="009">    
            <input type="hidden" name="orderd.PaymentAmount" value="450000">     
            <div class="form-group">
              <button class="button btn-primary" type="submit"> PESAN SEKARANG JUGA</button>
            </div>
          </form>
    </span>
  </div>
</div>
