<!DOCTYPE html>
<html>
<head>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-103556414-1', 'auto');
    ga('send', 'pageview');
    site = window.location.host;    
  </script>
  <title>Details Order</title>
  <meta charset="utf-8"/>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  <link href="public/hercules/T3/css/custom.css" rel="stylesheet"/>
  <link rel="shortcut icon" type="image/x-icon" href="admin/assets/images/logo.png">
  <link rel="stylesheet" href="public/css/bootstrap-3.3.6.min.css">
  <script src="public/js/jquery-2.2.4.min.js"></script>
  <style>
  .btn_kirim {
    background: #a2392b;
    background-image: -webkit-linear-gradient(top, #a2392b, #bd1b0c);
    background-image: -moz-linear-gradient(top, #a2392b, #bd1b0c);
    background-image: -ms-linear-gradient(top, #a2392b, #bd1b0c);
    background-image: -o-linear-gradient(top, #a2392b, #bd1b0c);
    background-image: linear-gradient(to bottom, #a2392b, #bd1b0c);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 25px !important;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    padding: 2em;
    line-height: 1%;
  }

  .btn_kirim:hover {
    background: #bd1b0c;
    background-image: -webkit-linear-gradient(top, #bd1b0c, #b56c62);
    background-image: -moz-linear-gradient(top, #bd1b0c, #b56c62);
    background-image: -ms-linear-gradient(top, #bd1b0c, #b56c62);
    background-image: -o-linear-gradient(top, #bd1b0c, #b56c62);
    background-image: linear-gradient(to bottom, #bd1b0c, #b56c62);
    text-decoration: none;
  }

  .btn_img{
    background: url("public/hercules/T3/img/button.gif") no-repeat scroll 0 0 transparent;
    color: #000000;
    cursor: pointer;
    font-weight: bold;
    height: 20px;
    padding-bottom: 2px;
    width: 75px;
  }
</style>
</head>
<body>
  <div id="container">
    <div class="mod wrap_block_success">
      <div class="block_success">
        <h2>LANGKAH TERAKHIR!</h2>
        <h3>Lengkapi informasi Anda dibawah ini untuk klaim <strong><font color="red">HARGA DISKON 50%!</font></strong>
          {{template "flash.html" .}}
          <form name="form_data" action="/" id="form_data" method="post">
            <input type="hidden" name="traffic.GUID" value="{{.traffic.GUID}}">
            <input type="hidden" name="traffic.GUIDTime" value="{{.traffic.GUIDTime}}">
            <input type="hidden" name="traffic.NetworkID" value="{{.traffic.NetworkID}}">
            <input type="hidden" name="traffic.URL" value="{{.traffic.URL}}">
            <input type="hidden" name="traffic.IP" value="{{.traffic.IP}}"> 
            <input type="hidden" name="traffic.Page" value="{{.traffic.Page}}"> 
            <input type="hidden" name="traffic.NetworkID" value="{{.traffic.NetworkID}}"> 
            <input type="hidden" name="traffic.ClickID" value="{{.traffic.ClickID}}">
            <input type="hidden" name="traffic.TID" value="{{.traffic.TID}}">
            <input type="hidden" name="traffic.GCLID" value="{{.traffic.GCLID}}">                        
            <input type="hidden" name="traffic.UserAgent" value="{{.traffic.UserAgent}}">    
            <input type="hidden" name="traffic.DeviceType" value="{{.traffic.DeviceType}}">    
            <input type="hidden" name="traffic.P1" value="{{.traffic.P1}}">    
            <input type="hidden" name="traffic.P2" value="{{.traffic.P2}}">    
            <input type="hidden" name="traffic.P3" value="{{.traffic.P3}}">    
            <input type="hidden" name="traffic.P4" value="{{.traffic.P4}}">    
            <input type="hidden" name="traffic.P5" value="{{.traffic.P5}}">

            <!-- Order Information -->
            <input type="hidden" name="order.OrderID" value="{{.traffic.GUID}}">
            <input type="hidden" name="order.ProductCode" value="XX">    
            <input type="hidden" name="order.Status" value="NEW_ORDER">    
            <input type="hidden" name="order.OrderID" value="{{.traffic.GUID}}">
            <input type="hidden" name="order.Address" value="Jalan H Merin no11 RT2 RW2, Kembangan, Jakarta Barat">    
            <input type="hidden" name="order.NumberOfOrder" value="3">    
            <input type="hidden" name="order.PacketType" value="3">    
            <input type="hidden" name="order.Email" value="kharis.hidayatullah@gmail.com">    
            <input type="hidden" name="order.PaymentMethod" value="BT">    
            <input type="hidden" name="order.BankCode" value="009">    
            <input type="hidden" name="order.PaymentAmount" value="450000">     

            <div class="form-group">
              <label for="order.Name">Nama</label>
              <input type="text" class="form-control" name="order.Name" id="order.Name" required value="{{.order.Name}}" placeholder="Masukan Nama">
            </div>
            <div class="form-group">
              <label for="order.Phone">No. Telepon</label>
              <input type="text" class="form-control" name="order.Phone" id="order.Phone" required value="" placeholder="Masukan No. Telepon">
            </div>
            <div class="form-group">      
              <label for="no_telpon">Hubungi Lewat?</label>
              <select class="form-control" name="WayOfContact" required id="WayOfContact">
                <option value="">Pilih</option>
              </select> 
            </div>
            <div class="form-group">
              <label for="pembayaran">
                <h3>Pilihan Cara Pembayaran:</h3>
              </label>
              <img src="public/hercules/T3/img/bank_transfer_infographic_02.png" style="width:100%" />
            </div>
            <div class="form-group">
              <label for="nama_bank">Pilih Nama Bank</label>
              <select class="form-control" name="nama_bank" id="nama_bank">
                <option value="">Pilih</option>
                <option value="BCA">BCA</option>
                <option value="MANDIRI">MANDIRI</option>
                <option value="BRI">BRI</option>
              </select> 
              <div class="form-group">
                <label for="paket">Pilih Paket</label>
                <select class="form-control" name="paket" id="paket" onchange="run()">
                  <option value="1">1 paket</option>
                  <option value="3">2+1 paket (BEST DEAL!)</option>
                  <option value="5">3+2 paket</option>
                </select>  
              </div>
            </div>
            <input type="hidden" class="form-control" name="total_bayar" id="total_bayar" value="550000" placeholder="Masukan Total Pembayaran"/>
            <div id="paket1" style='display:block;'>
              <img src="public/hercules/T3/img/paket1.png" style="width:100%" />
            </div>
            <div id="paket3" style='display:none;'>
              <img src="public/hercules/T3/img/paket2.png" style="width:100%"/>
            </div>
            <div id="paket5" style='display:none;'>
              <img src="public/hercules/T3/img/paket3.png" style="width:100%"/>
            </div>
            <div class="form-group">
              <label for="network_name">Alamat Lengkap</label>
              <textarea name="alamat" id="alamat" class="form-control" cols="30" required rows="5" placeholder="Masukan Alamat"></textarea>
            </div>
            <div class="form-group">
              <label for="order.ProvinsiID">Provinsi</label>
              <select name="order.ProvinsiID" class="form-control" id="ProvinsiID">
                <option value="" selected="Selected" required>Pilih Provinsi</option>
              </select>
            </div>
            <div class="form-group">
              <label for="order.CityKabID">City / Kabupaten</label>
              <select name="order.CityKabID" class="form-control" id="CityKabID">
                <option value="None" selected="Selected">Pilih City / Kabupaten</option>
              </select>
            </div>
            <div class="form-group">
              <label for="order.KecamatanID">Kecamatan</label>
              <select name="order.KecamatanID" class="form-control" id="KecamatanID">
                <option value="None" selected="Selected">Pilih Kecamatan</option>
              </select>
            </div>	
            <div class="form-group">
              <label for="order.KelurahanID">Kelurahan</label>
              <select name="order.KelurahanID" class="form-control" id="KelurahanID">
                <option value="None" selected="Selected">Pilih Kelurahan</option>
              </select> 
            </div>              
            <input type="hidden" name="getTrx_id" value="">
            <p>Tekan tombol <strong><i>"KIRIM"</i></strong> untuk mendapatkan <strong><font color="red">HARGA DISKON 50%</font></strong>jika pesanan Anda sudah benar.</p>
            <div class="" align="center">
              <button type="submit" name="actKirim" style="border: 0; background: transparent">
                <img src="public/hercules/T3/img/button.gif" alt="KIRIM" style="height: 50px;"/>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <script src="/public/js/global.js"></script>
  <script>
    function run() {
      var resultVal = '0';
      if (document.getElementById("paket").value == '1') {
        resultVal = '550000';
      } else if (document.getElementById("paket").value == '3') {
        resultVal = '1100000';
      }else if (document.getElementById("paket").value == '5') {
        resultVal = '1650000';
      }
      document.getElementById("total_bayar").value = resultVal;
    }

    function SendingForm(url, page, div){    
      // $.post(actionurl, function( data ) {
      //   $.get(site+page, function( data ) {
      //     $(div).html( data );  
      //   });
      // });

      AjaxSending(page,div,url);

      // $(document.body).append("#form_data");
            
      // var data = $("#form_data").serialize();
      // // Clear container
      // //$(div).html('');
      // // Retrieve data from action method
      // var jqxhr = $.post(url, data);
      // // Handle results
      // jqxhr.success(function (result) {
      //     //alert("ajax success");
      //     load("/api/v1/product",data)
      //     $(div).html(result.payload);
      //   });
      // jqxhr.error(function () {
      //     //alert("ajax error");
      //   });
      // jqxhr.complete(function () {
      //     //alert("ajax complete");
      //   });

      // Show results container
      $(div).slideDown('slow');

      return false;
    }

    $(document).ready(function(){

      $('#payment_method').on('change', function() {
        if ( this.value == 'TRANSFER')
        {
          $("#bank_transfer").show();
          $("#detail_cod").hide();
          $("#detail_transfer").show();
        }
        else
        {
          $("#bank_transfer").hide();
          $("#detail_cod").show();
          $("#detail_transfer").hide();
        }
      });
    });

    $(document).ready(function(){
      $('#paket').on('change', function() {
        if ( this.value == '1') {
                //console.log(this.value);
                $("#tot_bay").show();
                $("#paket1").show();
                $("#paket3").hide();
                $("#paket5").hide();
              }else if ( this.value == '3'){
                //console.log(this.value);
                $("#tot_bay").show();
                $("#paket1").hide();
                $("#paket3").show();
                $("#paket5").hide();
              }else if ( this.value == '5'){
                //console.log(this.value);
                $("#paket1").hide();
                $("#paket3").hide();
                $("#paket5").show();
                $("#tot_bay").show();
              }
            });
    });

    $(document).ready(function()
    {
      var urlBase = "http://localhost:8000/api/v1";
      $.getJSON(urlBase + "/WayOfContact",function(obj)
      {
        $.each(obj.payload,function(key,value)
        {
         var option = $('<option />').val(value.id).text(value.description);
         $("#WayOfContact").append(option);
       });

      });

      function clearCombo(id, text){
        object = $(id);
        object.empty();
        object.append($('<option>', {value: 0,text: text}));
      }

      nameProvinsi = "#ProvinsiID"
      nameCityKab = '#CityKabID'
      nameKecamatan = '#KecamatanID'
      nameKelurahan = '#KelurahanID'


      $.getJSON(urlBase + "/address/provinsi",function(obj)
      {
        $.each(obj.payload,function(key,value)
        {
         var option = $('<option />').val(value.id).text(value.provinsi);
         $(nameProvinsi).append(option);
       });

      });

      $(nameProvinsi).on('change', function(){      
       provinsiId = $(nameProvinsi).val();

       $.getJSON(urlBase + "/address/cityKab/"+provinsiId,function(obj)
       {
        clearCombo(nameCityKab, 'Pilih City / Kabupaten');            
        clearCombo(nameKecamatan, 'Pilih Kecamatan');
        clearCombo(nameKelurahan, 'Pilih Kelurahan');

        $.each(obj.payload,function(key,value)
        {
         var option = $('<option />').val(value.id).text(value.city_kab);
         $(nameCityKab).append(option);
       });
      });
     });

      $(nameCityKab).on('change', function(){     
        provinsiId = $(nameProvinsi).val();
        cityKabId = $(nameCityKab).val();


        $.getJSON(urlBase + "/address/kecamatan/"+provinsiId+"/"+cityKabId,function(obj)
        {
          clearCombo(nameKecamatan, 'Pilih Kecamatan');
          clearCombo(nameKelurahan, 'Pilih Kelurahan');
          $.each(obj.payload,function(key,value)
          {
            var option = $('<option />').val(value.id).text(value.kecamatan);
            $(nameKecamatan).append(option);
          });
        });
      });

      $(nameKecamatan).on('change', function(){      
       provinsiId = $(nameProvinsi).val();
       cityKabId = $(nameCityKab).val();
       kecamatanId = $(nameKecamatan).val();

       $.getJSON(urlBase + "/address/kelurahan/"+provinsiId+"/"+cityKabId+"/"+kecamatanId,function(obj)
       {
        clearCombo(nameKelurahan, 'Pilih Kelurahan');
        $.each(obj.payload,function(key,value)
        {
         var option = $('<option />').val(value.id).text(value.kelurahan + ' ' + value.postal_code);
         $(nameKelurahan).append(option);
       });
      });
     });

    });
  </script>
</body>
</html>      