<!DOCTYPE html>
<html lang="en">
<head>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-103556414-1', 'auto');
    ga('send', 'pageview');

  </script>
  <meta charset="UTF-8">
  <title>Terima Kasih</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  <style>
  body{
    width: 86%;
    margin: 0 auto;
    padding: 1em;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  .tbl{
    border-radius: 10px;
    border: 2px solid;
  }
  .wrapper{
    background: #8bc34a;
    color: #FFF;
    padding: 3em;
    border-radius: 8px;
  }
</style>
</head>
<body>
    {{ .url }}
    <img src="/public/hercules/T3/img/thank_you_graphic.png" style="width:100%" />
  </body>
  </html>