{{set . "title" "Home"}}
{{template "header.html" .}}

{{range .errors}}
			<li>{{.}}</li>
		{{end}}

{{range .biditems}}
	<li>{{.}}</li>
{{end}}
<a href="/">Back to form</a>

{{template "footer.html" .}}