.login-page, .register-page {
    background: #e8e8e8;
	background: url('../img/gplaypattern.png') repeat fixed;
	overflow-x: hidden;
    overflow-y: hidden;
}
.login-box-body, .register-box-body {
    background: #fdff7c;
    border: 2px solid #e0e23b;
}