@font-face {
	font-weight: 300;
	font-family: "Open Sans Light";
	font-style:  normal;
	
	src:         url('OpenSans-Light.eot');
	src:         url('OpenSans-Light.eot') format("embedded-opentype"), url('OpenSans-Light.woff') format("woff2"), url('OpenSans-Light.ttf') format("truetype"), url('OpenSans-Light.svg') format("svg");
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
	margin:             0;
	padding:            0;
}

body {
	line-height: 1.428571429;
	font-family: "Open Sans", sans-serif;
}

.light {
	font-family: "Open Sans Light", sans-serif;
}

a {
	outline: none;
}

a img {
	border: 0;
}

.clearfix:after {
	content: "";
	
	display: block;
	clear:   both;
}

.ttu {
	text-transform: uppercase;
}

.limit {
	width:  1000px;
	margin: 0 auto;
}

.button {
	display:         inline-block;
	padding:         18px;
	
	font-family:     "Open Sans", sans-serif;
	text-align:      center;
	color:           #ffffff;
	text-transform:  uppercase;
	text-decoration: none;
	
	border:          0;
	outline:         none;
	cursor:          pointer;
}

.button.btn-transparent {
	display:    block;
	
	color:      #44daff;
	
	background: none;
	border:     1px solid #44daff;
}

.button.btn-transparent:hover {
	color:        #ffffff;
	
	border-color: #ffffff;
}

.button.btn-with-arrow {
	position:   relative;
	
	text-align: left;
}

.button.btn-with-arrow:after {
	content:    "";
	position:   absolute;
	top:        50%;
	right:      17px;
	
	width:      8px;
	height:     15px;
	margin-top: -8px;
	
	background: url('btn-arrow.png') no-repeat;
	opacity:    0.5;
}

.button.btn-with-arrow:hover:after {
	opacity: 1;
}

.button.btn-primary {
	padding-top:        24px;
	padding-bottom:     24px;
	
	font-size:          19px;
	
	background:         #dd3838;
	background:         -moz-linear-gradient(left, #59bded 0%, #3b9be5 100%);
	background:         -webkit-linear-gradient(left, #59bded 0%, #3b9be5 100%);
	background:         linear-gradient(to right, #59bded 0%, #3b9be5 100%);
	border-radius:      3px;
	box-shadow:         1px 5px 5px 0 rgba(0, 0, 0, 0.26);
	filter:             progid:DXImageTransform.Microsoft.gradient(startColorstr='#59bded', endColorstr='#3b9be5', GradientType=1);
	
	-webkit-transition: ease-out 0.5s;
	-moz-transition:    ease-out 0.5s;
	-o-transition:      ease-out 0.5s;
	transition:         ease-out 0.5s;
}

.button.btn-primary:hover,
.button.btn-primary:active,
.button.btn-primary:focus {
	background: #ef2222;
	background: -moz-linear-gradient(left, #3b9be5 0%, #59bded 100%);
	background: -webkit-linear-gradient(left, #3b9be5 0%, #59bded 100%);
	background: linear-gradient(to right, #3b9be5 0%, #59bded 100%);
	transform:  scale(1.1);
	filter:     progid:DXImageTransform.Microsoft.gradient(startColorstr='#3b9be5', endColorstr='#59bded', GradientType=1);
}

.button:hover {
	-webkit-transform: scale(1.1);
	-moz-transform:    scale(1.1);
	-ms-transform:     scale(1.1);
	-o-transform:      scale(1.1);
}

.button.btn-block {
	display: block;
	width:   100%;
}

.button.btn-fixed {
	position:          fixed;
	top:               50%;
	right:             0;
	z-index:           19;
	
	display:           block;
	margin:            0;
	margin-top:        -140px;
	padding:           15px 33px 9px;
	
	line-height:       1;
	text-align:        center;
	
	background:        #b4b4b4;
	background:        -moz-linear-gradient(left, #b4b4b4 0%, #fdfdfd 100%);
	background:        -webkit-linear-gradient(left, #b4b4b4 0%, #fdfdfd 100%);
	background:        linear-gradient(to right, #b4b4b4 0%, #fdfdfd 100%);
	border-radius:     30px 30px 0 0;
	box-shadow:        -3px -1px 13px 0 rgba(0, 0, 0, 0.75);
	-webkit-transform: rotate(-90deg);
	-moz-transform:    rotate(-90deg);
	-ms-transform:     rotate(-90deg);
	-o-transform:      rotate(-90deg);
	transform-origin:  bottom right;
	filter:            progid:DXImageTransform.Microsoft.gradient(startColorstr='#b4b4b4', endColorstr='#fdfdfd', GradientType=1);
}

.button.btn-fixed span {
	display: inline-block;
	
	color:   #010101;
}

.button.btn-fixed:hover,
.button.btn-fixed:active,
.button.btn-fixed:focus {
	background: #8e8e8e;
	background: -moz-linear-gradient(left, #fdfdfd 0%, #8e8e8e 100%);
	background: -webkit-linear-gradient(left, #fdfdfd 0%, #8e8e8e 100%);
	background: linear-gradient(to right, #fdfdfd 0%, #8e8e8e 100%);
	filter:     progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfdfd', endColorstr='#8e8e8e', GradientType=1);
}

.block {
	min-width: 1000px;
}

.block .image.with-label:before,
.block .description.with-label:before {
	content:               "1";
	position:              absolute;
	
	display:               block;
	width:                 34px;
	height:                34px;
	
	font-weight:           bold;
	font-size:             16px;
	line-height:           34px;
	text-align:            center;
	color:                 #ffffff;
	
	background:            #00cbf4;
	-webkit-border-radius: 25px;
	-moz-border-radius:    25px;
	border-radius:         25px;
}

.block1 {
	max-height:     772px;
	padding-top:    25px;
	padding-bottom: 50px;
	
	background:     url('block1.jpg') top center no-repeat;
}

.block1 .logo {
	display:         block;
	width:           660px;
	height:          61px;
	margin-left:     250px;
	
	font-weight:     800;
	font-size:       34px;
	line-height:     61px;
	text-align:      center;
	color:           #44daff;
	text-transform:  uppercase;
	text-decoration: none;
	
	background:      url('logo.png') no-repeat;
	background-size: cover;
  	-moz-background-size: cover;
  	-webkit-background-size: cover;
}

.block1 .content {
	float:      right;
	width:      650px;
	margin-top: 18px;
	
	text-align: center;
}

.block1 .content .title1 {
	margin-bottom:  11px;
	
	font-size:      54px;
	line-height:    1.2;
	color:          #44daff;
	letter-spacing: -1px;
}

.block1 .content .title2 {
	margin-bottom: 20px;
	
	font-size:     34px;
	line-height:   1.25;
	color:         #ffffff;
}

.block1 .content .description {
	margin:        0 33px 40px 29px;
	padding:       12px 0 12px 8px;
	
	font-size:     18px;
	color:         rgba(255, 255, 255, 0.49);
	font-style:    italic;
	
	border-top:    1px solid rgba(255, 255, 255, 0.39);
	border-bottom: 1px solid rgba(255, 255, 255, 0.39);
}

.block1 .content .list {
	position:     relative;
	
	min-height:   232px;
	padding-left: 220px;
	
	text-align:   left;
}

.block1 .content .list:before {
	content:                 "";
	position:                absolute;
	top:                     -40px;
	left:                    -40px;
	
	display:                 block;
	width:                   253px;
	height:                  326px;
	
	background:              url('pro.png') 30% top no-repeat;
	-webkit-background-size: 180px auto; /* старый Safari */
	-o-background-size:      180px auto; /* старый Opera*/
	background-size:         180px auto;
	
	-khtml-background-size:  180px auto; /* Konqueror */
}

.block1 .content .list span {
	display:        block;
	margin-bottom:  25px;
	
	font-size:      16px;
	color:          #ffffff;
	text-transform: uppercase;
}

.block1 .content .list ul {
	padding-left: 24px;
	
	list-style:   none;
	font-size:    15px;
	color:        #44daff;
	font-style:   italic;
}

.block1 .content .list ul li {
	position:      relative;
	
	margin-bottom: 10px;
	padding-left:  27px;
}

.block1 .content .list ul li:before {
	content:               "";
	position:              absolute;
	top:                   50%;
	left:                  0;
	
	display:               block;
	width:                 7px;
	height:                7px;
	margin-top:            -4px;
	
	background:            #44daff;
	-webkit-border-radius: 25px;
	-moz-border-radius:    25px;
	border-radius:         25px;
}

.block1 .button {
	position:    relative;
	z-index:     2;
	
	margin-left: -50px;
}

.block1 .timer_wrap {
	float:  right;
	margin: -75px 30px 0 0;
}

.timer_wrap {
	position:      relative;
	
	width:         195px;
	height:        77px;
	margin:        0 auto;
	
	background:    url('timer-wr.png');
	border-radius: 2px;
	/* margin-top: -13px; */
}

.timer,
.last_section .timer .highlight {
	font-weight: normal;
	font-size:   36px;
	font-family: Helvetica, Arial, sans-serif;
	text-align:  center;
	color:       white;
}

.timer_wrap .hours:before {
	content:   "jam";
	position:  absolute !important;
	top:       45px;
	left:      15px;
	
	font-size: 18px !important;
}

.timer_wrap .min:before {
	content:   "menit";
	position:  absolute !important;
	top:       45px;
	left:      81px;
	
	font-size: 18px !important;
}

.timer_wrap .sec:before {
	content:   "detik";
	position:  absolute !important;
	top:       45px;
	right:     10px;
	
	font-size: 18px !important;
}

.block2 {
	padding:    29px 0 25px;
	
	background: #ffffff;
}

.block2 .item {
	float: left;
	width: 200px;
}

.block2 .item:nth-child(1) {
	width:       218px;
	margin-left: 15px;
}

.block2 .item:nth-child(2) {
	width: 183px;
}

.block2 .item:nth-child(3) {
	width: 200px;
}

.block2 .item:nth-child(4) {
	width: 200px;
}

.block2 .item:nth-child(5) {
	width: 180px;
}

.block2 .item img {
	float: left;
}

.block2 .item div {
	height:      86px;
	
	line-height: 1.2;
}

.block2 .item div span {
	display:        table-cell;
	width:          90px;
	height:         86px;
	padding-left:   11px;
	
	font-size:      14px;
	vertical-align: middle;
	color:          #030303;
}

.block3 {
	position:   relative;
	
	height:     648px;
	
	background: url('block3.jpg') top center no-repeat;
}

.block3 .title1 {
	padding:       35px 0 25px;
	
	font-size:     18px;
	text-align:    center;
	color:         #ffffff;
	
	border-bottom: 1px solid rgba(255, 95, 95, 0.29);
}

.block3 .info {
	padding:     0 0 0 15px;
	
	font-size:   13px;
	color:       #ffffff;
	
	border-left: 8px solid #2f2f2f;
}

.block3 .info span {
	color: #90e9ff;
}

.block3 .l-graph {
	float:      left;
	width:      380px;
	margin-top: 25px;
}

.block3 .l-graph .title {
	font-size:   18px;
	line-height: 1.2;
	text-align:  center;
	color:       #1d1b1b;
}

.block3 .l-graph .title span {
	display:     block;
	
	font-weight: bold;
}

.block3 .l-graph .content {
	position:    relative;
	
	width:       371px;
	height:      260px;
	margin-top:  15px;
	margin-left: 9px;
	
	background:  url('block3-left-graphic.png') no-repeat;
}

.block3 .l-graph .content span.line {
	position:    absolute;
	
	font-size:   12px;
	line-height: 1;
	color:       #262626;
}

.block3 .l-graph .content span.line.line1 {
	top:  81px;
	left: 45px;
}

.block3 .l-graph .content span.line.line2 {
	top:  134px;
	left: 40px;
}

.block3 .l-graph .content span.line.line3 {
	top:  167px;
	left: 40px;
}

.block3 .l-graph .content span.line.line4 {
	top:         165px;
	left:        44px;
	
	line-height: 1.1;
	text-align:  right;
}

.block3 .l-graph .content span.line.line5 {
	top:  206px;
	left: 270px;
}

.block3 .l-graph .info {
	width:      456px;
	margin-top: 33px;
}

.block3 .r-graph {
	float: right;
	width: 520px;
}

.block3 .r-graph .title {
	margin-top: 25px;
}

.block3 .r-graph .title p {
	float:       left;
	width:       360px;
	
	font-weight: bold;
	font-size:   18px;
	line-height: 1.2;
	text-align:  center;
	color:       #1d1b1b;
}

.block3 .r-graph .title ul {
	float:        right;
	margin-top:   5px;
	margin-right: 0;
	
	list-style:   none;
}

.block3 .r-graph .title ul li {
	position:      relative;
	
	display:       block;
	margin-bottom: 8px;
	padding-left:  23px;
	
	font-size:     13px;
	line-height:   1;
	color:         #1b1515;
}

.block3 .r-graph .title ul li:before {
	content:  "";
	position: absolute;
	top:      0;
	left:     0;
	
	display:  block;
	width:    14px;
	height:   12px;
}

.block3 .r-graph .title ul li:nth-child(1):before {
	background: #2f2f2f;
}

.block3 .r-graph .title ul li:nth-child(2):before {
	background: #44daff;
}

.block3 .r-graph .content {
	height:        296px;
	margin-right:  27px;
	margin-bottom: 10px;
	margin-left:   120px;
	padding-top:   18px;
	overflow:      hidden;
	
	background:    url('block3-right-graphic.png') right top no-repeat;
}

.block3 .r-graph .content .row {
	height:       46px;
	padding-left: 29px;
}

.block3 .r-graph .content .row .label {
	float:         left;
	width:         150px;
	padding-right: 15px;
	
	font-weight:   bold;
	font-size:     12px;
	line-height:   1.2;
	color:         #181616;
}

.block3 .r-graph .content .row .scale {
	float: right;
	width: 187px;
}

.block3 .r-graph .content .row .scale span {
	display:       block;
	height:        12px;
	margin-bottom: 5px;
}

.block3 .r-graph .content .row .scale span.man {
	background: #2f2f2f;
}

.block3 .r-graph .content .row .scale span.woman {
	background: #44daff;
}

.block3 .r-graph .info {
	margin-left:       120px;
	padding-top:       2px;
	padding-bottom:    2px;
	
	line-height:       1.25;
	
	border-left-color: #44daff;
}

.block3 .block-title {
	position:    absolute;
	bottom:      -65px;
	left:        50%;
	
	width:       525px;
	height:      133px;
	margin-left: -262px;
	padding:     0 20px;
	
	font-weight: normal;
	text-align:  center;
	
	background:  url('block3-title.png') repeat-y;
}

.block3 .block-title div.cell {
	display:        table-cell;
	width:          525px;
	height:         133px;
	
	vertical-align: middle;
}

.block3 .block-title span {
	display:     block;
	
	font-size:   27px;
	line-height: 25px;
	color:       #44daff;
}

.block3 .block-title em {
	font-size: 17px;
	color:     #fffafa;
}

.block4 {
	padding-top:    70px;
	padding-bottom: 55px;
	
	background:     url('block4.png') top center repeat-y;
}

.block4 .side {
	float:      left;
	width:      50%;
	min-height: 300px;
	margin-top: 18px;
}

.block4 .side.light-side {
	background: url('block4-light.png') right top 40px no-repeat;
}

.block4 .side.light-side ol li {
	width: 250px;
}

.block4 .side.light-side ol li:nth-child(1) {
	width:         240px;
	margin-bottom: 27px;
	margin-left:   75px;
}

.block4 .side.light-side ol li:nth-child(1):before {
	margin-bottom: 20px;
}

.block4 .side.light-side ol li:nth-child(2) {
	margin-left: 32px;
}

.block4 .side.light-side ol li:nth-child(3) {
	width:       304px;
	margin-left: 12px;
}

.block4 .side.light-side .prompt {
	width:       270px;
	margin-left: 20px;
}

.block4 .side.light-side .prompt .cell {
	padding: 0 20px;
}

.block4 .side.light-side .info {
	margin-right:  40px;
	margin-left:   124px;
	padding-right: 31px;
	
	text-align:    right;
}

.block4 .side.light-side .info:after {
	background-position: 0 -28px;
}

.block4 .side.dark-side {
	background: url('block4-dark.png') left top 41px no-repeat;
}

.block4 .side.dark-side ol {
	margin-left: 148px;
}

.block4 .side.dark-side ol li {
	margin-bottom: 16px;
}

.block4 .side.dark-side ol li:nth-child(2) {
	margin-left: 20px;
}

.block4 .side.dark-side ol li:nth-child(3) {
	margin-left: 44px;
}

.block4 .side.dark-side ol li:nth-child(3):before {
	margin-bottom: 40px;
}

.block4 .side.dark-side ol li:before {
	margin-bottom: 10px;
}

.block4 .side.dark-side .prompt {
	float:               right;
	width:               318px;
	margin-right:        20px;
	
	background-position: 0 -92px;
}

.block4 .side.dark-side .prompt .cell {
	padding: 0 10px 0 25px;
	
	color:   #ffffff;
}

.block4 .side.dark-side .info {
	margin-right: 100px;
	margin-left:  40px;
	padding-left: 41px;
}

.block4 .side.dark-side .info:after {
	right: auto;
	left:  0;
}

.block4 .side ol {
	height:          282px;
	
	list-style-type: none;
	
	counter-reset:   num;
}

.block4 .side ol li {
	margin-bottom: 35px;
	
	font-size:     16px;
	color:         #232323;
	font-style:    italic;
}

.block4 .side ol li:before {
	content:               counter(num);
	
	display:               block;
	float:                 left;
	width:                 31px;
	height:                31px;
	margin:                0 15px 32px 0;
	
	font-weight:           bold;
	font-size:             16px;
	line-height:           31px;
	text-align:            center;
	color:                 #ffffff;
	font-style:            normal;
	
	background:            #2f2f2f;
	-webkit-border-radius: 25px;
	-moz-border-radius:    25px;
	border-radius:         25px;
	
	counter-increment:     num;
}

.block4 .side ol li:after {
	content: "";
	
	display: block;
	clear:   both;
}

.block4 .side .prompt {
	height:     92px;
	
	background: url('block4-prompt.png') no-repeat;
}

.block4 .side .prompt .cell {
	display:        table-cell;
	height:         92px;
	
	font-size:      16px;
	line-height:    1.2;
	vertical-align: middle;
	text-align:     center;
	color:          #000000;
}

.block4 .side .info {
	position:    relative;
	
	margin-top:  32px;
	
	font-size:   16px;
	line-height: 1.2;
	color:       #232323;
	font-style:  italic;
}

.block4 .side .info:after {
	content:    "";
	position:   absolute;
	top:        50%;
	right:      0;
	
	display:    block;
	width:      18px;
	height:     28px;
	margin-top: -14px;
	
	background: url('block4-arrows.png') no-repeat;
}

.block4.japan .side.light-side .info {
	margin-left: 84px;
}

.block5 {
	height:     573px;
	
	background: url('block5newno2.png') top center no-repeat;
}

.block5 em {
	display:       block;
	margin-bottom: 10px;
	margin-right:40px;
	font-size:     18px;
	color:         #ffffff;
}

.block5 .side {
	text-align: center;
}

.block5 .side.l-side {
	float:      left;
	width:      420px;
	margin-top: 50px;
}

.block5 .side.l-side .title1 {
	margin-bottom:  20px;
	padding-top:    10px;
	
	font-size:      46px;
	line-height:    44px;
	color:          #ff5f5f;
	letter-spacing: -1px;
}

.block5 .side.l-side .image {
	position:   relative;
	
	margin-top: 20px;
}

.block5 .side.l-side .image .label {
	position:              absolute;
	top:                   -10px;
	left:                  20px;
	
	width:                 115px;
	height:                115px;
	
	font-size:             27px;
	line-height:           26px;
	text-align:            center;
	
	-webkit-border-radius: 125px;
	-moz-border-radius:    125px;
	border-radius:         125px;
}

.block5 .side.l-side .image .label.front {
	z-index:    1;
	
	color:      #5d6c81;
	
	background: #f7f7f7;
}

.block5 .side.l-side .image .label.back {
	top:          -10px;
	left:         125px;
	z-index:      0;
	
	padding-left: 10px;
	
	color:        #24c1f3;
	
	background:   #5d6c81;
}

.block5 .side.l-side .image .label span.cell {
	display:        table-cell;
	width:          104px;
	height:         117px;
	
	vertical-align: middle;
}

.block5 .side.l-side .image img {
	width:         125px;
	margin-top:    75px;
	margin-bottom: 15px;
}

.block5 .side.l-side em.name {
	margin-top: 0;
}

.block5 .side.r-side {
	float:      right;
	width:      305px;
	margin-top: 45px;
}

.block5 .side.r-side .title1 {
	margin-top:  -72px;
	
	font-size:   17px;
	line-height: 1.2;
	color:       #ff9c9c;
}

.block5 .side.r-side .description {
	font-size: 14px;
	color:     #ffffff;
}

.block5 .side.r-side .description p {
	margin-top:  15px;
	
	font-size:   16px;
	line-height: 20px;
}

.block5 .timer_wrap {
	margin: 10px 0 -50px 60px;
}

.block5 .side.r-side .button {
	margin:             30px 18px 0 26px;
	
	-webkit-transition: ease-out 0.5s;
	-moz-transition:    ease-out 0.5s;
	-o-transition:      ease-out 0.5s;
	transition:         ease-out 0.5s;
}

.block5.japan .side .cell {
	display:        table-cell;
	height:         573px;
  font-size:18px;
	
	vertical-align: middle;
}

.block5.japan .side.l-side {
	margin-top: 0;
}

.block5.japan .side.r-side {
	margin-top: 0;
}

.block6 .before-after {
	margin-top: 20px;
	
	text-align: center;
}

.block6 .before-after img {
	display: block;
}

.block6 .before-after .side {
	position:      relative;
	
	float:         left;
	width:         50%;
	padding-right: 5px;
}

.block6 .before-after .side.before {
	text-align: right;
}

.block6 .before-after .side.before img {
	float: right;
}

.block6 .before-after .side .label {
	position:              absolute;
	top:                   11px;
	left:                  58px;
	
	width:                 122px;
	height:                122px;
	
	font-size:             21px;
	line-height:           122px;
	text-align:            center;
	color:                 #ffffff;
	text-transform:        uppercase;
	
	background:            #44daff;
	-webkit-border-radius: 125px;
	-moz-border-radius:    125px;
	border-radius:         125px;
}

.block6 .before-after .side.after .label {
	right:     58px;
	left:      auto;
	
	font-size: 23px;
}

.block6 .table {
	width:           100%;
	
	border-collapse: collapse;
	
	background:      #2d3f48;
	background:      -moz-linear-gradient(top, #2d3f48 0%, #2f3031 100%);
	background:      -webkit-linear-gradient(top, #2d3f48 0%, #2f3031 100%);
	background:      linear-gradient(to bottom, #2d3f48 0%, #2f3031 100%);
	filter:          progid:DXImageTransform.Microsoft.gradient(startColorstr='#2d3f48', endColorstr='#2f3031', GradientType=0);
}

.block6 .table thead th {
	padding:        18px;
	
	font-weight:    normal;
	font-size:      16px;
	text-align:     center;
	color:          #969696;
	text-transform: uppercase;
	
	background:     #151612;
	border:         1px solid #62696d;
	border-top:     0;
}

.block6 .table tbody td {
	padding:    40px 18px;
	
	font-size:  16px;
	text-align: center;
	color:      #ffffff;
	
	border:     1px solid #62696d;
}

.block6 .table tbody td.label {
	font-size:      24px;
	color:          #44daff;
	text-transform: uppercase;
}

.block7 {
	height:     472px;
	
	background: url('block7.jpg') top center no-repeat;
}

.block7 .limit {
	position: relative;
	
	padding:  0 40px 0 20px;
}

.block7 .limit:before,
.block7 .limit:after {
	content:  "";
	position: absolute;
	top:      57px;
	
	display:  block;
	width:    28px;
	height:   244px;
	
	border:   6px solid #282923;
}

.block7 .limit:before {
	left:         0;
	
	border-right: 0;
}

.block7 .limit:after {
	right:       0;
	
	border-left: 0;
}

.block7 .title {
	padding-top: 15px;
	
	font-size:   26px;
	line-height: 1;
	text-align:  center;
	color:       #fffefe;
}

.block7 .item {
	position:   relative;
	
	float:      left;
	width:      228px;
	margin-top: 10px;
	padding:    0 10px;
}

.block7 .item .image {
	position:   relative;
	
	width:      161px;
	margin:     0 auto;
	
	text-align: center;
}

.block7 .item .image img {
	width:  100%;
	height: auto;
}

.block7 .item .image:before {
	top:  25px;
	left: -13px;
}

.block7 .item .label {
	display:        block;
	margin:         0 0 10px;
	
	font-size:      16px;
	line-height:    22px;
	text-align:     center;
	color:          #191919;
	letter-spacing: -1px;
}

.block7 .item .labelnew {
	margin: 3px 0 10px;
}

.block7 .item p {
	font-size:   13px;
	line-height: 1.3;
	text-align:  center;
	color:       #fffefe;
}

.block7 .item:nth-child(1) .image:before {
	content: "1";
}

.block7 .item:nth-child(2) .image:before {
	content: "2";
}

.block7 .item:nth-child(3) {
	width: 256px;
}

.block7 .item:nth-child(3) .image:before {
	content: "3";
}

.block7 .item:nth-child(4) {
	padding-right: 0;
}

.block7 .item:nth-child(4) .image:before {
	content: "4";
}

.block7 .item:nth-child(4):after {
	display: none;
}

.block8 {
	height:     1330px;
	
	background: url('block8.jpg') top center no-repeat;
}

.block8 h3 {
	margin-bottom: 15px;
	padding-top:   20px;
	
	font-weight:   normal;
	font-size:     30px;
	line-height:   1;
	color:         #ffffff;
}

.block8 h3 span.label1 {
	display:      block;
	float:        left;
	width:        379px;
	padding-left: 25px;
}

.block8 h3 span.label1 span {
	display: block;
	
	color:   #00cbf4;
}

.block8 h3 span.label2 {
	float:       left;
	width:       620px;
	
	font-size:   18px;
	line-height: 1.1;
	color:       #00cbf4;
}

.block8 h3 span.label2 em {
	display:        block;
	
	color:          #ffffff;
	text-transform: none;
}

.block8 .content {
	padding:    35px 30px 15px;
	
	background: #ffffff;
}

.block8 .content.line1 .item {
	float:        left;
	width:        182px;
	margin-right: 70px;
}

.block8 .content.line1 .item:last-child {
	margin-right: 0;
}

.block8 .content.line1 .item .image {
	position: relative;
}

.block8 .content.line1 .item .image img {
	display: block;
}

.block8 .content.line1 .item .image:before {
	top:  -16px;
	left: -14px;
}

.block8 .content.line1 .item .label {
	display:    table;
	width:      100%;
	height:     63px;
	margin:     12px 0;
	
	background: #272727;
}

.block8 .content.line1 .item .label span {
	display:        table-cell;
	height:         63px;
	padding:        5px;
	
	font-size:      13px;
	vertical-align: middle;
	text-align:     center;
	color:          #ffffff;
	text-transform: uppercase;
}

.block8 .content.line1 .item p {
	font-size:   13px;
	line-height: 1.3;
	color:       #515151;
}

.block8 .content.line1 .item:nth-child(1) .image:before {
	content: "1";
}

.block8 .content.line1 .item:nth-child(2) .image:before {
	content: "2";
}

.block8 .content.line1 .item:nth-child(3) .image:before {
	content: "3";
}

.block8 .content.line1 .item:nth-child(4) .image:before {
	content: "4";
}

.block8 .content.line2 {
	position:    relative;
	
	margin-top:  47px;
	padding-top: 135px;
}

.block8 .content.line2 h4.block-title {
	position:    absolute;
	top:         -53px;
	left:        50%;
	
	display:     table;
	width:       525px;
	margin-left: -262px;
	
	font-weight: normal;
	
	background:  url('block3-title.png') repeat-y;
}

.block8 .content.line2 h4.block-title span {
	display:        table-cell;
	padding:        18px 10px;
	
	vertical-align: middle;
}

.block8 .content.line2 h4.block-title span.title {
	width:          280px;
	
	font-size:      26px;
	line-height:    1.2;
	color:          #ff5f5f;
	text-transform: uppercase;
	
	border-right:   1px solid #4a4a4a;
}

.block8 .content.line2 h4.block-title span.title span {
	padding: 0;
	
	color:   #ffffff;
}

.block8 .content.line2 h4.block-title span.description {
	font-size:   14px;
	line-height: 1.3;
	color:       #a2a2a2;
}

.block8 .content.line2 .squad1 {
	margin-right: -15px;
	margin-left:  -15px;
}

.block8 .content.line2 .squad1 .item {
	float:         left;
	width:         50%;
	margin-bottom: 30px;
	padding:       0 5px;
}

.block8 .content.line2 .squad1 .item > div {
	display: table;
	width:   100%;
}

.block8 .content.line2 .squad1 .item .image {
	display:        table-cell;
	width:          150px;
	margin-bottom:  5px;
	
	vertical-align: middle;
	text-align:     center;
}

.block8 .content.line2 .squad1 .item .image span {
	display:        table-cell;
	height:         110px;
	
	vertical-align: middle;
}

.block8 .content.line2 .squad1 .item .description {
	position:     relative;
	
	display:      table-cell;
	padding-left: 40px;
}

.block8 .content.line2 .squad1 .item .description span {
	display:        block;
	margin-bottom:  8px;
	
	font-size:      20px;
	color:          #414141;
	text-transform: uppercase;
}

.block8 .content.line2 .squad1 .item .description:before {
	top:  0;
	left: -8px;
}

.block8 .content.line2 .squad1 .item .description p {
	font-size: 13px;
	color:     #414141;
}

.block8 .content.line2 .squad1 .item:nth-child(2) .description:before {
	content: "2";
}

.block8 .squad1 .one .description:before {
	content: "3" !important;
}

.block8 .squad1 .four .description:before {
	content: "4" !important;
}

.block8 .content.line2 .squad2 .row {
	margin-right: -10px;
	margin-left:  -10px;
}

.block8 .content.line2 .squad2 h4 {
	margin-top:     23px;
	margin-bottom:  12px;
	padding:        0;
	
	font-weight:    normal;
	font-size:      24px;
	text-align:     center;
	text-transform: uppercase;
	
	background:     url('block8-squad2-separator.jpg') center repeat-x;
}

.block8 .content.line2 .squad2 h4 span {
	padding:    0 68px;
	
	background: #ffffff;
}

.block8 .content.line2 .squad2 .item {
	float:   left;
	width:   235px;
	padding: 0 10px;
}

.block8 .content.line2 .squad2 .item .story {
	float: right;
	width: 140px;
}

.block8 .content.line2 .squad2 .item .label {
	display:       block;
	margin-top:    5px;
	margin-bottom: 8px;
	
	font-weight:   bold;
	color:         #f05353;
}

.block8 .content.line2 .squad2 .item p {
	font-size:   14px;
	line-height: 1.2;
	color:       #515151;
}

.block9 {
	height:     616px;
	
	background: url('block9.jpg') top center no-repeat;
}

.block9 .title {
	margin:         0 115px;
	padding-top:    48px;
	padding-bottom: 20px;
	
	font-size:      29px;
	line-height:    1.2;
	text-align:     center;
	color:          #00cbf4;
	
	border-bottom:  1px solid #8199a5;
}

.block9 .title span {
	display: block;
	
	color:   #ffffff;
}

.block9 .description {
	margin:      16px 0 0;
	
	font-size:   18px;
	line-height: 1.2;
	text-align:  center;
	color:       #00cbf4;
	font-style:  italic;
}

.block9 .content {
	position: relative;
}

.block9 .compare {
	width:  497px;
	margin: 30px auto 0;
}

.block9 .compare .tooltip {
	position:    absolute;
	top:         0;
	left:        65px;
	
	min-width:   126px;
	height:      32px;
	
	font-size:   14px;
	line-height: 32px;
	text-align:  center;
	color:       #333333;
	
	background:  #adaeac;
}

.block9 .compare .tooltip:after,
.block9 .compare .tooltip:before {
	content:    "";
	position:   absolute;
	top:        0;
	
	width:      12px;
	height:     100%;
	
	background: url('block9-tooltip.png') no-repeat;
}

.block9 .compare .tooltip:before {
	left: -11px;
}

.block9 .compare .tooltip:after {
	right:               -12px;
	
	background-position: -12px 0;
}

.block9 .compare .tooltip.tooltip-volume {
	top: 72px;
}

.block9 .compare .tooltip.tooltip-height {
	top: 182px;
}

.block9 .compare .tooltip i {
	position: absolute;
	top:      16px;
	right:    0;
	z-index:  0;
	
	display:  block;
	height:   1px;
}

.block9 .compare .side {
	position: relative;
	
	float:    left;
	width:    50%;
}

.block9 .compare .side .image {
	position: relative;
}

.block9 .compare .side .image img {
	display: block;
}

.block9 .compare .side .image .weight {
	position:    absolute;
	bottom:      13px;
	left:        50%;
	
	width:       82px;
	height:      93px;
	margin-left: -41px;
	
	font-size:   23px;
	line-height: 93px;
	text-align:  center;
	color:       #ffffff;
}

.block9 .compare .side .duration {
	position:      absolute;
	top:           25px;
	left:          -181px;
	
	padding:       15px;
	padding-top:   10px;
	padding-right: 10px;
	
	font-size:     21px;
	text-align:    center;
	color:         #ffffff;
	
	background:    #313131;
}

.block9 .compare .side .dur-rs {
	position:      absolute;
	top:           20px;
	
	width:         250px;
	padding:       15px;
	padding-top:   10px;
	padding-right: 10px;
	
	text-align:    center;
	color:         #ffffff;
	
	background:    #313131;
	
	LEFT:          230px;
}

.block9 .compare .side .duration span {
	display:        block;
	
	font-size:      18px;
	color:          #00cbf4;
	text-transform: uppercase;
}

.block9 .compare .side.before .weight {
	background: url('block9-before-weight.png') no-repeat;
}

.block9 .compare .side.before .tooltip {
	left: -193px;
}

.block9 .compare .side.before .tooltip i {
	background: #adaeac;
}

.block9 .compare .side.before .tooltip.tooltip-height {
	top: 296px;
}

.block9 .compare .side.before .tooltip.tooltip-height i {
	right: -200px;
	
	width: 200px;
}

.block9 .compare .side.before .tooltip.tooltip-volume {
	top: 176px;
}

.block9 .compare .side.before .tooltip.tooltip-volume i {
	right: -116px;
	
	width: 116px;
}

.block9 .compare .side.before .duration span {
	color: #adaeac;
}

.block9 .compare .side.after .weight {
	background: url('block9-after-weight.png') no-repeat;
}

.block9 .compare .side.after .tooltip {
	right:      -185px;
	left:       auto;
	
	background: #00cbf4;
}

.block9 .compare .side.after .tooltip i {
	right:      auto;
	left:       0;
	
	background: #00cbf4;
}

.block9 .compare .side.after .tooltip.tooltip-height {
	top: 176px;
}

.block9 .compare .side.after .tooltip.tooltip-height i {
	left:  -102px;
	
	width: 102px;
}

.block9 .compare .side.after .tooltip.tooltip-volume {
	top: 296px;
}

.block9 .compare .side.after .tooltip.tooltip-volume i {
	left:  -172px;
	
	width: 172px;
}

.block9 .compare .side.after .tooltip:before {
	background-position: -24px 0;
}

.block9 .compare .side.after .tooltip:after {
	background-position: -36px 0;
}

.block9 .info {
	margin-top: 30px;
}

.block9 .info > div {
	float: left;
}

.block9 .info .label {
	width:       248px;
	padding-top: 10px;
	
	color:       #f05353;
}

.block9 .info .label .title1 {
	font-size:   30px;
	line-height: 1;
}

.block9 .info .label .title2 {
	margin-bottom: 2px;
	
	font-size:     24px;
	color:         #ffffff;
}

.block9 .info .label .title3 {
	font-size:  16px;
	font-style: italic;
}

.block9 .info .item {
	position:     relative;
	
	width:        108px;
	margin-right: 53px;
}

.block9 .info .item:last-child {
	margin-right: 0;
}

.block9 .info .item:last-child:after {
	display: none;
}

.block9 .info .item img {
	display: block;
}

.block9 .info .item:after {
	content:    "";
	position:   absolute;
	top:        35px;
	right:      -37px;
	
	display:    block;
	width:      19px;
	height:     35px;
	
	background: url('block7-item-arrow.png') no-repeat;
}

.block10 {
	height:     371px;
	
	background: url('block10.jpg') top center no-repeat;
}

.block10 .side {
	float:       left;
	width:       50%;
	max-width:   270px;
	padding-top: 15px;
}

.block10 .side h3 {
	margin-bottom: 15px;
	
	font-weight:   normal;
	font-size:     22px;
	line-height:   1.2;
	color:         #e5e5e5;
}

.block10 .side .description {
	margin-bottom: 25px;
	
	font-size:     18px;
	color:         #2495ac;
	font-style:    italic;
}

.block10 .side ul {
	list-style:  none;
	font-size:   13px;
	line-height: 1.2;
	color:       #e5e5e5;
}

.block10 .side ul li {
	margin-bottom: 16px;
	padding-left:  42px;
}

.block10 .side.l-side {
	max-width: 270px;
}

.block10 .side.l-side ul li {
	margin-bottom: 10px;
	
	background:    url('block10-marque-minus.png') left center no-repeat;
}

.block10 .side.r-side {
	float: right;
}

.block10 .side.r-side ul li {
	min-height: 20px;
	
	background: url('block10-marque-plus.png') left center no-repeat;
}

.block10.japan .side.l-side ul li {
	margin-bottom: 16px;
}

.block11 {
	height:     816px;
	
	background: url('block11a.jpg') top center no-repeat;
}

.block11 .content {
	float:                   right;
	width:                   386px;
	margin-top:              25px;
	margin-right:            44px;
	padding-top:             200px;
	
	text-align:              center;
	
	background:              url('pro.png') center top no-repeat;
	-webkit-background-size: 97px auto; /* старый Safari */
	-o-background-size:      97px auto; /* старый Opera*/
	background-size:         97px auto;
	
	-khtml-background-size:  97px auto; /* Konqueror */
}

.block11 .content .title1 {
	margin-top:    -30px;
	margin-bottom: 10px;
	
	font-size:     36px;
	line-height:   1.2;
	color:         #4aace9;
}

.block11 .content .title2 {
	font-size: 20px;
	color:     #ffffff;
}

.block11 .content .title3 {
	margin-top:    20px;
	margin-bottom: 15px;
	padding:       10px 22px 12px;
	
	font-size:     20px;
	line-height:   1.2;
	color:         #4aace9;
	font-style:    italic;
	
	border-top:    1px solid #000000;
	border-bottom: 1px solid #000000;
}

.block11 .content .title4 {
	font-size: 16px;
	color:     #ffffff;
}

.block11 .content .button {
	width:      80%;
	margin-top: 20px;
}

.block11 .content .brands {
	margin-top: 25px;
}

.block11 .timer_wrap {
	margin-top: 15px;
}

.block12 {
	height:     350px;
	
	background: url('bg.jpg') top center no-repeat;
}

.block12 .limit {
	position:    relative;
	
	padding-top: 100px;
}

.block12 .title {
	position:   absolute;
	top:        -34px;
	left:       0;
	
	width:      100%;
	
	background: #162329;
}

.block12 .title > div {
	display: table;
	width:   100%;
}

.block12 .title > div .cell {
	display:        table-cell;
	padding:        10px 0;
	
	vertical-align: middle;
}

.block12 .title > div .cell.label {
	width:        295px;
	padding-left: 20px;
	
	font-size:    25px;
	line-height:  1.25;
	color:        #796e6e;
}

.block12 .title > div .cell.label span {
	display:   block;
	
	font-size: 30px;
	color:     #00caf5;
}

.block12 .title > div .cell.description {
	padding-right: 20px;
	padding-left:  20px;
	
	font-size:     14px;
	line-height:   1.3;
	color:         #7f767b;
	font-style:    italic;
}

.block12 .title > div .cell.before {
	position: relative;
	
	width:    266px;
}

.block12 .title > div .cell.before > div {
	position: relative;
	
	float:    left;
}

.block12 .title > div .cell.before > div.before span {
	background: #353535;
}

.block12 .title > div .cell.before > div.after span {
	right:      -12px;
	
	font-size:  10px;
	
	background: #00c9f4;
}

.block12 .title > div .cell.before span {
	position:              absolute;
	top:                   -20px;
	right:                 -16px;
	z-index:               10;
	
	width:                 48px;
	height:                48px;
	
	font-size:             8px;
	line-height:           48px;
	text-align:            center;
	color:                 #fffefe;
	text-transform:        uppercase;
	
	-webkit-border-radius: 125px;
	-moz-border-radius:    125px;
	border-radius:         125px;
}

.block12 .title > div .cell.before img {
	display: block;
	
	border:  1px solid #000000;
}

.block12 .title > div .cell.before.step2 {
	padding-left: 22px;
}

.block12 .content .side.l-side {
	float: left;
	width: 351px;
}

.block12 .content .side.r-side {
	float: right;
	width: 370px;
}

.block12 .content .side.r-side .row .label {
	width:        72px;
	margin-right: 15px;
}

.block12 .content .side.r-side .row .value {
	width: 283px;
}

.block12 .content .side .row {
	min-height:    20px;
	margin-bottom: 4px;
}

.block12 .content .side .row .label {
	float:          left;
	width:          156px;
	margin-right:   10px;
	
	font-size:      14px;
	color:          #00cbf4;
	text-transform: uppercase;
}

.block12 .content .side .row .value {
	float:       left;
	width:       185px;
	
	font-size:   13px;
	line-height: 1.3;
	color:       #b8b8b8;
}

.block12.japan .content .side.l-side {
	width: 500px;
}

.block12.japan .content .side.l-side .row .label {
	width: 140px;
}

.block12.japan .content .side.l-side .row .value {
	width: 231px;
}

.block13 {
	background: #ebebeb url('block13.jpg') center no-repeat;
}

.block13 .limit {
	position:       relative;
	
	padding-top:    60px;
	padding-bottom: 30px;
}

.block13 .title {
	position:    absolute;
	top:         -33px;
	left:        0;
	
	width:       100%;
	height:      60px;
	
	font-size:   26px;
	line-height: 60px;
	text-align:  center;
	color:       #b8b8b8;
	
	background:  #162329;
}

.block13 .item {
	float:   left;
	width:   33%;
	padding: 0 23px;
}

.block13 .item .image {
	position: relative;
}

.block13 .item .image span {
	position:              absolute;
	top:                   -18px;
	left:                  50%;
	
	width:                 59px;
	height:                59px;
	margin-left:           -29px;
	
	font-size:             16px;
	line-height:           59px;
	text-align:            center;
	color:                 #ffffff;
	
	background:            #f05353;
	-webkit-border-radius: 125px;
	-moz-border-radius:    125px;
	border-radius:         125px;
}

.block13 .item .image img {
	display: block;
	width:   100%;
	height:  auto;
}

.block13 .item .label {
	display:       block;
	margin-top:    20px;
	margin-bottom: 30px;
	
	font-weight:   bold;
	font-size:     16px;
	text-align:    center;
	color:         #162329;
}

.block13 .item .duration {
	margin-top:     10px;
	margin-bottom:  15px;
	
	font-size:      14px;
	color:          #162329;
	text-transform: uppercase;
}

.block13 .item .result {
	height:         34px;
	margin-bottom:  18px;
	padding:        0 12px;
	
	font-size:      14px;
	line-height:    34px;
	text-transform: uppercase;
	
	background:     #162329;
}

.block13 .item .result span.before {
	float: left;
	
	color: #ffffff;
}

.block13 .item .result span.after {
	float: right;
	
	color: #f05353;
}

.block13 .item .name {
	height:         34px;
	margin-bottom:  15px;
	
	font-size:      14px;
	line-height:    34px;
	text-align:     center;
	color:          #00caf6;
	text-transform: uppercase;
	
	background:     #162329;
}

.block13 .item .story {
	font-size: 13px;
	color:     #162329;
}

.block13.japan .item .label {
	height: 44px;
}

.warning {
	background: #162329;
	padding:    20px 0;
}

.warning p {
	position:     relative;
	padding-left: 120px;
	margin:       0;
	font-size:    20px;
	color:        #00caf5;
}

.warning p::before {
	content:    "";
	position:   absolute;
	left:       25px;
	top:        50%;
	transform:  translateY(-50%);
	width:      68px;
	height:     68px;
	background: url('warning.png') no-repeat center center;
}

.block14 {
	height:     888px;
	
	background: url('block14a.jpg') top center no-repeat;
}

.block14 .content1 {
	float:       left;
	width:       425px;
	height:      429px;
	margin-left: 64px;
	padding-top: 64px;
	
	text-align:  center;
}

.block14 .content1 .title1 {
	margin-bottom: 20px;
	
	font-size:     40px;
	line-height:   1.1;
	color:         #00cbf4;
}

.block14 .content1 .title2 {
	margin-bottom: 30px;
	
	font-size:     36px;
	line-height:   1.1;
	color:         #ffffff;
}

.block14 .content1 .title2 b {
	font-weight: bold;
}

.block14 .content1 .description {
	margin-bottom:  30px;
	padding:        12px 0;
	
	font-size:      18px;
	color:          rgba(255, 255, 255, 0.49);
	font-style:     italic;
	letter-spacing: -0.3px;
	
	border-top:     1px solid rgba(255, 255, 255, 0.39);
	border-bottom:  1px solid rgba(255, 255, 255, 0.39);
}

.block14 .image {
	position:     relative;
	
	float:        right;
	width:        185px;
	margin-top:   122px;
	margin-right: 145px;
}

.block14 .image .label {
	position:              absolute;
	top:                   -87px;
	right:                 90px;
	
	width:                 115px;
	height:                115px;
	
	font-size:             24px;
	line-height:           1.2;
	text-align:            center;
	
	-webkit-border-radius: 125px;
	-moz-border-radius:    125px;
	border-radius:         125px;
}

.block14 .image img {
	width: 155px;
}

.block14 .image .label.front {
	z-index:    1;
	
	color:      #5d6c81;
	
	background: #f7f7f7;
}

.block14 .image .label.back {
	top:          -77px;
	right:        -15px;
	z-index:      0;
	
	padding-left: 10px;
	
	color:        #24c1f3;
	
	background:   #5d6c81;
}

.block14 .image .label span.cell {
	display:        table-cell;
	width:          104px;
	height:         117px;
	
	vertical-align: middle;
}

.block14 .content2 {
	height:     739px;
	
	text-align: center;
}

.block14 .content2 img {
	position:   absolute;
	
	display:    block;
	margin:     0 auto;
	margin-top: -50px;
}

.block14 .content2 .title1 {
	margin-bottom:  79px;
	padding-top:    21px;
	
	font-size:      23px;
	color:          #00c9f5;
	text-transform: uppercase;
}

.block14 .content2 .title2 {
	margin-bottom:  20px;
	padding-top:    15px;
	
	font-size:      26px;
	line-height:    1;
	color:          #ffffff;
	text-transform: uppercase;
}

.block14 .content2 .story {
	position:     relative;
	
	height:       256px;
	margin-left:  270px;
	padding-left: 250px;
	
	font-size:    14px;
	line-height:  1.3;
	text-align:   left;
	color:        #ffffff;
	font-style:   italic;
	
	background:   url('review.png') 78px 32px no-repeat;
}

.block14 .content2 .story .cell {
	display:        table-cell;
	height:         256px;
	
	vertical-align: middle;
}

.block14 .content3 .title {
	margin-bottom:  25px;
	padding-top:    40px;
	
	font-size:      30px;
	text-align:     center;
	color:          #ffffff;
	text-transform: uppercase;
}

.block14 .content3 .row {
	text-align: center;
}

.block14 .content3 .row img {
	margin-left: -4px;
}

.block15 {
	
	background:              url('block15a.jpg') top center no-repeat;
	-webkit-background-size: cover; /* старый Safari */
	-o-background-size:      cover; /* старый Opera*/
	background-size:         cover;
	
	-khtml-background-size:  cover; /* Konqueror */
}

.block15 .content {
	float:                   right;
	width:                   500px;
	margin-top:              35px;
	padding-top:             240px;
	
	text-align:              center;
	
	background:              url('pro.png') top center no-repeat;
	-webkit-background-size: 132px auto; /* старый Safari */
	-o-background-size:      132px auto; /* старый Opera*/
	background-size:         132px auto;
	
	-khtml-background-size:  132px auto; /* Konqueror */
}

.block15 .content .title1 {
	font-size:      28px;
	line-height:    1.1;
	color:          #413e3e;
	letter-spacing: -0.6px;
}

.block15 .content .title2 {
	margin-bottom:  10px;
	
	font-size:      42px;
	color:          #00aeef;
	letter-spacing: -0.7px;
}

.block15 .content .form {
	display: block;
	width:   330px;
	margin:  0 auto;
}

.block15 .content .form .form-group {
	margin-bottom: 10px;
}

.block15 .content .form input[type="text"],
.block15 .content .form select {
	display:               block;
	width:                 100%;
	padding-top:           15px;
	padding-bottom:        15px;
	
	font-weight:           normal;
	font-size:             18px;
	line-height:           normal;
	font-family:           "Open Sans", sans-serif;
	text-align:            center;
	color:                 #292929;
	
	background:            none;
	border:                1px solid #464646;
	-webkit-border-radius: 0;
	-moz-border-radius:    0;
	border-radius:         0;
	outline:               none;
}

.block15 .content .form input[type="text"]::-webkit-input-placeholder,
.block15 .content .form select::-webkit-input-placeholder {
	color: #292929;
}

.block15 .content .form input[type="text"]::-moz-placeholder,
.block15 .content .form select::-moz-placeholder {
	color: #292929;
}

.block15 .content .form input[type="text"]:-moz-placeholder,
.block15 .content .form select:-moz-placeholder {
	color: #292929;
}

.block15 .content .form input[type="text"]:-ms-input-placeholder,
.block15 .content .form select:-ms-input-placeholder {
	color: #292929;
}

.block15 .content .form select {
	padding-left: 15px;
}

.block15 .content .price {
	margin-top:    -10px;
	margin-bottom: 10px;
	padding:       0 10px 0;
	
	font-size:     17px;
	text-align:    center;
	color:         #ffffff;
}

.block15 .content .price span {
	font-size:   20px;
	font-weight: 700;
	display:     block;
}

.block15 .content .form .price {
	margin-top:    -10px;
	margin-bottom: 10px;
	padding:       0 10px 0;
	
	font-size:     17px;
	text-align:    center;
	color:         #ffffff;
}

.block15 .content .form .price span {
	margin-left: 5px;
	
	font-weight: bold;
	font-style:  italic;
}

.block15.japan .content .form input[type="text"] {
	padding-right: 15px;
	padding-left:  15px;
	
	text-align:    left;
}

/*# sourceMappingURL=style.map */

.block12-prod-photo {
	position: absolute;
	top:      80px;
	left:     420px;
	
	width:    120px;
}

.block15 .timer_wrap {
	width:      330px;
	margin-top: 50px;
}

.block15 .timer_wrap .hours:before {
	left: 85px;
}

.block15 .timer_wrap .min:before {
	left: 153px;
}

.block15 .timer_wrap .sec:before {
	right: 77px;
}

#request-form {
	width: 500px;
}

select {
	height:        49px;
	width:         100%;
	margin-bottom: 10px;
}

.bg-white {
    background: #fff;
}

.planshet {
    background: #fff;
    display: table;
    margin-bottom: 20px;
    margin: 0 auto;
    padding-top: 10px;
}

.planshet h2 {
    color: #ff0000;
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.planshet .img1 {
    max-width: 300px;
    display: inline-table;
    vertical-align: middle;
}

.planshet .img2 {
    vertical-align: middle;
    display: inline-table;
    max-width: 117px;
    position: relative;
    bottom: 10px;
}

.planshet .text {
    display: inline-table;
    max-width: 478px;
    vertical-align: middle;
    font-size: 20px;
    color: #000;
}
