
/* - /Base settings - */
/* - Sys - */
.clearfix:after {
  content: ".";

  display: block;
  clear: both;
  height: 0;

  visibility: hidden;
}
.lte8 .clearfix {
  overflow: hidden;

  zoom: 1;
}
.clear {
  clear: both;
}
.dib {
  display: -moz-inline-box;
  display: inline-block;

  vertical-align: top;

  zoom: 1;

  *display: inline;
  _display: inline;
  -moz-box-orient: vertical;
}
/* - /Sys - */
/* - Baselayout - */
.wrapper {
  position: relative;

  min-height: 100%;
}
.page-wrapper__inner {
  position: relative;

  width: 1000px;
  height: 100%;
  margin: 0 auto;
}

.bx-wrapper {
  position: relative;

  margin: 0 auto;
  padding: 0;

  *zoom: 1;
}

.containerz p {
  margin: 0;
  padding: 0;

  font-size: 40px;
  color: #ffdd2e;
}



input[type="text"] {
  -webkit-box-sizing: border-box; /*Safari 3+, Chrome 1+*/
     -moz-box-sizing: border-box; /*Firefox 1+*/
          box-sizing: border-box; /*Opera 7+, IE8+*/
  width: 100%;
  height: 49px;
  margin-bottom: 14px;
  padding-left: 10px;

  font-size: 18px;
  line-height: normal;
  color: #3a3636;

  border: 0;
  border: 2px solid #ffffff;
  outline: none;
}
input.error {
  border-color: red;
}
.ajaxloader {
  display: none;
  width: 180px;
  height: 40px;
  margin: 0 auto;
  margin-top: 150px;
}

p.succes {
  padding: 20px 10px;

  font-size: 24px;
  line-height: 30px;
  color: #ffffff;

  -webkit-transition: all 0.3s ease-out;
     -moz-transition: all 0.3s ease-out;
       -o-transition: all 0.3s ease-out;
}


.slide11 {
  height: 850px;
}

.rew-wrapped {
  position: relative;
}
.slide11 .s2-header {
  padding-top: 50px;
}
.rew-wrappp {
  position: absolute;

  -webkit-box-sizing: border-box; /*Safari 3+, Chrome 1+*/
     -moz-box-sizing: border-box; /*Firefox 1+*/
          box-sizing: border-box; /*Opera 7+, IE8+*/
  width: 470px;
  padding: 25px;
  padding-bottom: 5px;

  border: 2px solid #494949;
}
.header-date {
  padding-bottom: 24px;

  font-size: 18px;
  font-family: "pf_agora_slab_probold";
}
.rew-wrappp p {
  padding-bottom: 20px;

  font-size: 18px;
  line-height: 1.2em;
}

.rew-wrappp.r1 {
  top: 43px;
  left: 0;
}

.rew-wrappp.r2 {
  top: 43px;
  right: 0;
}

.rew-wrappp.r3 {
  top: 390px;
  left: 0;
}

.rew-wrappp.r4 {
  top: 390px;
  right: 0;
}

.new_pr_valid {
  font-size: 20px;
  color: #ffffff;
}
.new_pr_valid span {
  font-weight: 700;
}



/*secondpage styles*/


.h-w__inner {
  color: #ffffff;
}

.hidden-window menu,
.hidden-window ol,
.hidden-window ul {
  margin: 0;
  padding: 0;
}

.cf:before,
.cf:after {
  content: " ";

  display: table;
}

.cf:after {
  clear: both;
}


@-webkit-keyframes thumb {
  0% {
    -webkit-transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.99);
  }
  100% {
    -webkit-transform: scale(1);
  }
}
.js_scrollForm.active {
  -webkit-transform-origin: 50% 50%;

  -webkit-animation-name: thumb;
  -webkit-animation-duration: 100ms;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: 6;
}

.placeholder {
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
  color: #b3b3b3;
}

:-moz-placeholder {
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
  color: #b3b3b3;
}

::-webkit-input-placeholder {
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
  color: #b3b3b3;
}

textarea::-moz-placeholder {
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
  color: #b3b3b3;
}

textarea::-webkit-input-placeholder {
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
  color: #b3b3b3;
}

:-ms-input-placeholder {
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
  color: #b3b3b3;
}

.dib {
  display: -moz-inline-box;
  display: inline-block;

  vertical-align: top;

  zoom: 1;

  *display: inline;
  _display: inline;
  -moz-box-orient: vertical;
}

.transitionmyl {
  -webkit-transition: all 0.5s ease-out;
     -moz-transition: all 0.5s ease-out;
       -o-transition: all 0.5s ease-out;
}

.transitionmyl1 {
  -webkit-transition: transform 0.5s ease-out;
     -moz-transition: transform 0.5s ease-out;
       -o-transition: transform 0.5s ease-out;
}

.containerz {
  position: relative;

  max-width: 1024px;
  margin: 0 auto;
  padding: 0 15px;
}
.hidden-window * {
  -webkit-box-sizing: border-box; /*Safari 3+, Chrome 1+*/
     -moz-box-sizing: border-box; /*Firefox 1+*/
          box-sizing: border-box; /*Opera 7+, IE8+*/

  line-height: 1.1;
}
.hidden-window {
  position: static;
  top: 0;
  left: 0;
  z-index: 99;

  display: none;
  width: 100%;
  min-height: 100%;

  font-family: "Open Sans";
  font-family: "Roboto", sans-serif;

  background: url('//st.acstnst.com/content/Thors_hammer_ID_new/img/bgrepeat.png') 0 0 repeat;
}
.hidden-window b {
  font-family: "Roboto", sans-serif;
}
.hidden-window select,
input,
textarea {
  font-family: "Roboto", sans-serif !important;
}

.h-w__header {
  font-weight: 700;
  font-size: 50px;
  line-height: 140px;
  text-align: center;
  color: #ffdd2e;
}

.totalpriceForm {
  padding-bottom: 10px;

  font-size: 22px;
  color: #e70116;
}

.js_total_price {
  font-weight: 700;
  font-size: 28px;
}

.h-w__header span {
  display: inline-block;
  padding-left: 77px;

  *zoom: 1;
  _display: inline;
}

.dtable {
  display: table;
  width: 100%;
}

.dtable-cell {
  display: table-cell;

  vertical-align: middle;
}

.dtr {
  display: table-row;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.w-h__left {
  margin-right: 380px;
  margin-left: 25px;
}
.w-h__left .item {
  position: relative;

  min-height: 340px;
  margin: 0 4px 16px;
  padding: 20px 15px;

  color: #000000;

  background: #ffffff;
  border: 2px solid #958a97;
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
}
.w-h__left .item .zstick {
  position: absolute;
  top: -5px;
  left: -5px;
  z-index: 9;

  width: 145px;
  height: 145px;

  background: url('//st.acstnst.com/content/Thors_hammer_ID_new/img/zstick.png') 0 0 no-repeat;
}
.w-h__left .item.active {
  margin: 0 0 16px;

  border: 6px solid #958a97;
}
.w-h__left .item.hot {
  border: 6px solid #ff6f05;
}
.w-h__left .item .js_changer {
  position: absolute;
  top: 120px;
  left: 12px;
  z-index: 9;

  width: 31px;
  height: 31px;

  background: url('//st.acstnst.com/content/Thors_hammer_ID_new/img/zchek.png') 0 -31px no-repeat;
}
.w-h__left .item .js_changer:hover {
  cursor: pointer;
}
.w-h__left .item .js_changer.active {
  background-position: 0 0;
}
.w-h__left .item .item__left {
  margin-right: 275px;

  text-align: center;
}
.w-h__left .item .item__left .img-wrapp {
  position: relative;

  padding-top: 20px;
}
.w-h__left .item .item__left .img-wrapp .gift {
  position: absolute;
  top: 122px;
  left: 150px;

  padding: 3px;

  font-weight: 700;
  font-size: 14px;
  color: #e70116;

  background: #f7f8f8;
  border-radius: 3px;
}

.w-h__left .item .item__left .zHeader {
  box-sizing: border-box;
  padding-top: 15px;
  padding-bottom: 5px;

  font-weight: 700;
  font-size: 34px;
  color: #000000;
  text-transform: none;
}
.w-h__left .item .item__left .zHeader.sm {
  font-size: 28px;
  margin-top:15px;
}
.w-h__left .item .item__left .zHeader span {
  border-bottom: 1px solid #d5dde9;
}
.w-h__left .item .item__left text {
  font-weight: 400;
  font-size: 14px;
  font-family: arial;
}
.w-h__left .item .zDiscount {
  position: absolute;
  right: 20px;
  bottom: 20px;

  width: 280px;
  margin-top: 20px;
  padding: 8px;

  font-size: 17px;
  text-align: center;
  color: #000000;

  background: #f9f3d0;
}
.w-h__left .item .zDiscount span {
  color: #e70116;
  text-transform: uppercase;
}
.w-h__left .item .item__right {
  float: right;
  width: 280px;
}
.w-h__left .item .item__right .zHeader {
  position: relative;

  margin-bottom: 40px;

  font-size: 26px;
  color: #6e3538;
}
.w-h__left .item .item__left .img-wrapp img {
  position: relative;
  z-index: 100;

  max-width: 248px;
  max-height: 192px;
}
.w-h__left .item .item__right .zHeader .zplus {
  position: relative;
  top: -10px;

  height: 43px;
  padding-right: 10px;
  padding-left: 49px;
  padding-left: 65px;

  font-weight: 700;
  font-size: 14px;
  line-height: 58px;
  text-align: left;
  color: #000000;

  background: url('//st.acstnst.com/content/Thors_hammer_ID_new/img/zplus1.png') 0 0 no-repeat;
}
.w-h__left .item .item__right .zHeader .zplus.secc {
  background: url('//st.acstnst.com/content/Thors_hammer_ID_new/img/zplus2.png') 0 0 no-repeat;
}
.w-h__left .item .item__right .zHeader .zplus.th {
  background: url('//st.acstnst.com/content/Thors_hammer_ID_new/img/zplus3.png') 0 0 no-repeat;
}
.w-h__left .item .item__right .zHeader b {
  font-size: 45px;
}
.w-h__left .item .item__right .zHeader.secon {
  font-size: 18px;
}
.w-h__left .item .item__right .zHeader.secon b {
  font-size: 30px;
}
.w-h__left .item .item__right .zPrices {
  position: relative;

  font-size: 17px;
  color: #6f3639;
}
.w-h__left .item .item__right .zPrices .ellipsDiscount {
  position: absolute;
  top: -43px;
  right: 35px;

  padding: 3px 9px;

  font-size: 12px;
  text-align: center;
  color: #ffffff;

  background: #d80215;
  -webkit-border-radius: 46px / 22px;
     -moz-border-radius: 46px / 22px;
          border-radius: 46px / 33px;
  -webkit-transform: rotate(-8deg);
     -moz-transform: rotate(-8deg);
       -o-transform: rotate(-8deg);
          transform: rotate(-8deg);
}
.w-h__left .item .item__right .zPrices .ellipsDiscount span {
  font-weight: 700;
}
.w-h__left .item .item__right .zPrices .fst {
  width: 110px;

  font-size: 14px;
  color: #6f3639;
}
.w-h__left .item .item__right .zPrices .fst .fs17 {
  font-size: 17px;
}
.w-h__left .item .item__right .zPrices .text-left {
  padding-left: 5px;

  text-align: left;
}
.w-h__left .item .item__right .zPrices .zSep {
  height: 1px;
  margin: 10px 0;

  background: #d5dde9;
}
.w-h__left .item .item__right .zPrices .prtotal {
  padding-bottom: 10px;

  color: #e70116;
}
.w-h__left .item .item__right .zPrices .prtotal b {
  font-size: 27px;
}

.padding-top10px {
  padding-top: 10px;
}

.old-pricedecoration {
  position: relative;
}
.old-pricedecoration i {
  position: absolute;
  top: 9px;

  width: 100%;
  height: 2px;

  background: #e70116;
  transform: rotate(-28deg);
}

.old-pr-descr {
  font-size: 12px;
  line-height: 10px !important;
  color: #e70116;
}

.w-h__right {
  float: right;
  width: 333px;
}
.w-h__right .printbg {
  width: 290px;
  height: 83px;
  margin: 25px auto;

  font-weight: 700;
  font-size: 16px;
  line-height: 83px;
  text-align: center;
  color: #f9e178;
  text-transform: uppercase;

  background: url('//st.acstnst.com/content/Thors_hammer_ID_new/img/printbg.png') 0 0 no-repeat;
  -webkit-transform: rotate(-8deg);
     -moz-transform: rotate(-8deg);
       -o-transform: rotate(-8deg);
          transform: rotate(-8deg);
}
.w-h__right .printbg span {
  color: #2181d3;
}
.w-h__right .zGarant {
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 25px 20px 35px;

  font-size: 18px;
  color: #000000;

  background: #ffffff;
  border-radius: 10px;
}
.w-h__right .zGarant .zHeader {
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  color: #6fa100;
  text-transform: uppercase;
}
.w-h__right .zGarant li {
  margin-top: 25px;
  padding-left: 30px;

  list-style: none;

  background: url('//st.acstnst.com/content/Thors_hammer_ID_new/img/zli.png') 0 50% no-repeat;
}
.w-h__right .zGarant b {
  font-size: 20px;
}
.w-h__right form {
  padding: 28px 30px 14px;

  background: #ffdc2e;
  background:    -moz-linear-gradient(top, #ffdc2e 0%, #fdbb01 100%);
  background: -webkit-linear-gradient(top, #ffdc2e 0%, #fdbb01 100%);
  background:         linear-gradient(to bottom, #ffdc2e 0%, #fdbb01 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffdc2e', endColorstr='#fdbb01',GradientType=0 );
}
.w-h__right form .zbtn {
  position: relative;

  width: 250px;
  height: 55px;
  margin: 0 auto;

  font-weight: 700;
  font-size: 17px;
  line-height: 55px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  background: #ff061d;
  background:    -moz-linear-gradient(top, #ff061d 1%, #b80011 100%);
  background: -webkit-linear-gradient(top, #ff061d 1%, #b80011 100%);
  background:         linear-gradient(to bottom, #ff061d 1%, #b80011 100%);
  border: 1px solid #eb6672;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff061d', endColorstr='#b80011',GradientType=0 );
}
.w-h__right form .zbtn:hover,
.w-h__right form .zbtn:active {
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  -webkit-transform: translateZ(0) scale(1.1);
     -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
       -o-transform: scale(1.1);
          transform: scale(1.1);
  cursor: pointer;
}
.w-h__right form .inp {
  height: 31px;
  margin: 0 auto 10px;
  padding: 0 15px;

  font-size: 16px;
  font-family: "Open Sans";
  color: #000000 !important;

  background: #ffffff;
  border: 1px solid #d5dde9;
}
.w-h__right form textarea {
  height: auto;
  height: 125px;
  margin-bottom: 10px;
  padding: 15px;

  resize: none;
}

.w-h__right-row1 .zHeader {
  position: relative;

  margin-bottom: -15px;
  padding: 15px;

  font-size: 28px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #6fa100;
  border-radius: 10px;
}
.w-h__right-row1 .zHeader span {
  font-weight: bold;
}
.w-h__right-row1 .zHeader b {
  font-weight: 700;
  font-size: 29px;
  text-transform: uppercase;
}
.w-h__right-row1 .zContent {
  padding: 30px 10px 5px;

  background: #ffffff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.w-h__right-row1 .zContent .text-right {
  position: relative;
}
.w-h__right-row1 .zContent .text-right i {
  position: absolute;
  top: 50%;
  left: 0;
}
.w-h__right-row1 .dtable {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 22px;
  line-height: 1;
  color: #000000;
  text-transform: uppercase;
}
.w-h__right-row1 .dtable span {
  color: #ffffff;

  background-color: #7eb263;
}
.w-h__right-row1 .text-right {
  width: 40%;
  padding-right: 18px;
}
.w-h__right-row1 .text-right img {
  max-width: 100%;
}

/*# sourceMappingURL=style2.css.map */


.formHeader {
  padding-bottom: 15px;

  font-size: 20px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}
.formHeader span {
  display: block;

  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
}
.ac_footer {
  background: #000000!important;
}
html.jshtml {
  background: url('//st.acstnst.com/content/Thors_hammer_ID_new/img/bgrepeat.png') 0 0 repeat;
}

.js_ad_validate.error {
  border: 2px solid red!important;
}



.h-headerj {
  margin-bottom: 15px;
  padding: 20px 0;

  text-align: center;
}


.h-text {
  float: right;
  padding-top: 15px;
  padding-right: 10px;

  font-size: 30px;
  line-height: 1;
  text-align: right;
  color: #ffffff;
}
.h-text span {
  font-weight: bold;
  font-size: 45px;
  color: #e63c2e;
  text-transform: uppercase;
}
.choose_prod {
  padding-top: 65px;
}
::-webkit-input-placeholder {
  color: #000000;
}
::-moz-placeholder {
  color: #000000;
}/* Firefox 19+ */
:-moz-placeholder {
  color: #000000;
}/* Firefox 18- */
:-ms-input-placeholder {
  color: #000000;
}


select {
  padding-left: 10px;

  /*background: url('//st.acstnst.com/content/Thors_hammer_ID_new/img/customselect.png') #ffffff no-repeat 90% 50% !important;*/

  /*-webkit-appearance: none;*/
     /*-moz-appearance: none;*/
          /*appearance: none;*/
}
select::-ms-expand {
  display: none;
}
.formHeader {
  padding-bottom: 15px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.2em;
  text-align: center;
  color: #b80011;
  text-transform: uppercase;
}
.w-h__right form input,
.w-h__right form select,
.w-h__right form textarea {
  width: 100%;
  height: 31px;

  font-size: 16px;
  color: #000000 !important;

  background-color: #ffffff;
  border: 1px solid #d5dde9;
}

.select {
  position: relative;

  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
}
