<div class="tab-content">
  <div role="tabpanel" class="tab-pane active" id="view">
    <div class="row">
      <div class="col-xs-12">
        <div class="box">
          <div class="box-header">
            <!-- <h3 class="box-title">Hover Data Table</h3> -->
            <form class="form-inline">
              <input type="hidden" name="page">
              <div class="form-group">
                <select id="PagingLimit" name="PagingLimit" class="form-control">                  
                  <option value="5" {{if eq .session.limit "5"}}selected{{end}}>5</option>   
                  <option value="10" {{if eq .session.limit "10"}}selected{{end}}>10</option>
                  <option value="25" {{if eq .session.limit "25"}}selected{{end}}>25</option>
                </select>
              </div>
              <div class="input-group">
                <input id="search" type="search" name="search" class="form-control" placeholder="Search for..." value="{{.session.search}}">
                <span class="input-group-btn">
                  <button id="searchButton" class="btn btn-default" type="submit">Clear Filter</button>
                </span>                
              </div>
              <div class="btn-group btn-group-sm pull-right">                
                <a href="#" onclick="loadPage('/page/users','#data-container', 'User', 'View');" class="btn btn-default">
                  Refresh
                </a>            
                <a href="#" onclick="load('/page/user/', data_container)" class="btn btn-default">
                  New User
                </a>
              </div>
            </form>
          </div>
          <div class="box-body">
            <div class="table-responsive">
              <table class="table table-bordered table-hover table-condensed">
                <thead>                
                  <td width="8%">User ID</td>
                  <td width="20%">Name</td>
                  <td width="20%">Email</td>
                  <td width="20%">Username</td>
                  <td width="20%">Last login</td>
                  <td width="8%"></td>
                </thead>
                <tbody>    
                  {{range $index, $users := .users}}
                  <tr>
                    <td>{{ .ID }}</td>
                    <td>{{ .Name }}</td>
                    <td>{{ .Email }}</td>
                    <td>{{ .Username }}</td>
                    <td>{{ timeFormat .LastLogin }}</td>
                    <td align="center">
<!--                       <a href="#" aria-controls="editUser" role="tab" data-toggle="tab" onclick="EditUser('{{ .ID }}');" alt="Edit">
                        <i class="fa fa-edit fa-lg"></i>
                      </a>&nbsp;&nbsp;
                      <a href="#" aria-controls="editUser" role="tab" data-toggle="tab" onclick="EditUser('{{ .ID }}');" alt="Edit">
                        <i class="fa fa-address-card-o fa-lg"></i>
                      </a> -->
                      <a href="#" aria-controls="editUser" role="tab" data-toggle="tab" onclick="EditUser('{{ .ID }}');" alt="Edit">
                        edit
                      </a>
                      <a href="#" aria-controls="editUser" role="tab" data-toggle="tab" onclick="EditUser('{{ .ID }}');" alt="Edit">
                        role
                      </a>
                    </td>
                  </tr>          
                  {{end}}
                </tbody>
              </table>
            </div>
            <div>
              <ul class="pagination pagination-sm">
                {{ range $index, $btn := .sliceBtns }}
                {{if eq $index $.currentBtn}}
                <li class="active">
                 {{else}}
                 <li>
                  {{end}}
                  <a onclick="load('/page/users/?page={{$btn}}','#data-container');" href="#">{{$btn}}</a>
                </li>
                {{end}}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div role="tabpanel" class="tab-pane" id="editUser">

  </div>
</div>