<script type="text/javascript">
  function CreateUser(){
    $.ajax({
      url: site+'page/user/', 
      data: $(document.UserEdit.elements).serialize(),
      error: function (request, error) {            
        alert(" What can I do, an error happened : " + error);
      },
      beforeSend: function(){
        // $(div).html('<div id="LoadingBlock">'+image_load + '</div>');
      },
      success: function(response){
        if(!response)
        {
          alert(response);
        }
        else
        {
          $(data_container).css("display", "none");      
          $(data_container).fadeIn(300);
          $(data_container).html(response);                 
        }
      },
      type: "POST",
      dataType: "html"
    });
  }

  function ChangePassword(){
    if ($('#oldpassword').val() == ''){
      alert('Please fill old password ! ');
    }

    if ($('#newpassword').val() != $('#user.Password').val()){
      alert('Please confirm new password !'+$('#newpassword').val() +'-'+$('#user.Password').val());
    }

    $.ajax({
      url: site+'page/user/', 
      data: $(document.ChangePassword.elements).serialize(),
      error: function (request, error) {            
        alert(" What can I do, an error happened : " + error);
      },
      beforeSend: function(){
        // $(div).html('<div id="LoadingBlock">'+image_load + '</div>');
      },
      success: function(response){
        if(!response)
        {
          alert(response);
        }
        else
        {
          $(data_container).css("display", "none");      
          $(data_container).fadeIn(300);
          $(data_container).html(response);                 
        }
      },
      type: "POST",
      dataType: "html"
    });
    
    return false;
  }
  document.getElementById ("btnChangePassword").addEventListener ("click", ChangePassword, false);
</script>
<div class="row">
  <div class="col-sm-6">
    <div class="box box-warning">
      <div class="box-header with-border">
        <h3 class="box-title">User Edit</h3>
        <div class="btn-group pull-right">                
          <a href="#" onclick="loadPage('/page/users','#data-container', 'User', 'View');" class="btn btn-default btn-sm">
            Back
          </a>
          <a href="#" onclick="loadPage('/page/user/{{.user.ID}}','#data-container', 'User', 'View');" class="btn btn-default btn-sm">
            Refresh
          </a>
          <a href="#" onclick="CreateUser();" class="btn btn-success btn-sm" style="float:right">
            {{if ne .user.ID 0 }}Update{{end}}
            {{if eq .user.ID 0 }}Submit{{end}}
          </a>
        </div>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <form name="UserEdit" class="form-horizontal">
          {{template "flash.html" .}}
          {{if ne .user.ID 0 }}
          <input type="hidden" id="user.ID" name="user.ID" value="{{.user.ID}}">
          {{end}}
          {{if ne .user.ID 0 }}
          <input type="hidden" class="form-control" id="user.ID" name="user.ID" placeholder="Input User Name" value="{{.user.ID}}">
          {{end}}
          <div class="form-group">
            <label for="user.Name" class="col-sm-3 control-label">Name</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" id="user.Name" name="user.Name" placeholder="Input User Name" value="{{.user.Name}}">
            </div>
          </div>
          <div class="form-group">
            <label for="user.Email" class="col-sm-3 control-label">Email</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" id="user.Email" name="user.Email" placeholder="Input User Email" value="{{.user.Email}}">
            </div>
          </div>
          <div class="form-group">
            <label for="user.Username" class="col-sm-3 control-label">Username</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" id="user.Username" name="user.Username" placeholder="Input Username" value="{{.user.Username}}">
            </div>
          </div>
          {{if eq .user.ID 0 }}
          <div class="form-group">
            <label for="user.Password" class="col-sm-3 control-label">Password</label>
            <div class="col-sm-6">
              <input type="password" class="form-control" id="user.Password" name="user.Password" placeholder="Confirm New Password" value="">
            </div>
          </div>      
          {{end}}    
        </form>
      </div>
      <!-- /.box-body -->
    </div>
  </div>
  {{if ne .user.ID 0 }}
  <div class="col-sm-6">
    <div class="box box-warning">
      <div class="box-header with-border">
        <h3 class="box-title">Change Password</h3>
        <div class="btn-group pull-right">
          <a href="#" id="btnChangePassword" class="btn btn-success btn-sm" style="float:right">
            Change Password
          </a>
        </div>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <form name="ChangePassword" class="form-horizontal">
          {{template "flash.html" .}}
          <input type="hidden" id="user.ID" name="user.ID" value="{{.user.ID}}">
          <div class="form-group">
            <label for="oldpassword" class="col-sm-4 control-label">Old Password</label>
            <div class="col-sm-6">
              <input type="password" class="form-control" id="oldpassword" name="oldpassword" placeholder="Input Old Password" value="">
            </div>
          </div>
          <div class="form-group">
            <label for="newpassword" class="col-sm-4 control-label">New Password</label>
            <div class="col-sm-6">
              <input type="password" class="form-control" id="newpassword" name="newpassword" placeholder="Input New Password" value="">
            </div>
          </div>
          <div class="form-group">
            <label for="user.Password" class="col-sm-4 control-label">Confirm New Password</label>
            <div class="col-sm-6">
              <input type="password" class="form-control" id="user.Password" name="user.Password" placeholder="Confirm New Password" value="">
            </div>
          </div>
        </form>
      </div>
      <!-- /.box-body -->
    </div>
  </div>
  {{end}}
</div>