<div class="row">
  <div class="col-md-8">
    <div class="box box-info">
      <div class="box-header with-border">
        <h3 class="box-title">Customer Order List by Phone</h3>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <form role="form">
          <div class="table-responsive">
            <table id="orderPerPhoneTable" class="table table-bordered table-hover table-condensed">
              <thead>
                <td width="10%">Tran. Date</td>                
                <td width="30%">Name</td>
                <td width="10%">Phone</td>
                <td width="10%">Num. Bottle</td>
                <td width="10%">Payment Amount</td>
                <td width="5%">Product</td>
                <td width="5%">Status</td>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>
        </form>
      </div>
      <!-- /.box-body -->
    </div>
  </div>
  <div class="col-md-4">
    <div class="box box-success">
      <div class="box-header with-border">
        <h3 class="box-title">Customer Data Detail</h3>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <form role="form">
          <!-- text input -->
          <div class="form-group">
            <label>Name</label>
            <input type="text" name="name" id="name" class="form-control" placeholder="Enter ...">
          </div>
          <div class="form-group">
            <label>Phone</label>
            <input type="text" class="form-control" placeholder="Enter ...">
          </div>
          <div class="form-group">
            <label>Address</label>
            <textarea class="form-control" rows="3" placeholder="Enter ..."></textarea>
          </div>
          <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" placeholder="Enter ...">
          </div>
          <div class="form-group">
            <label for="order.ProvinsiID">Provinsi</label>
            <select name="order.ProvinsiID" class="form-control" id="ProvinsiID">
              <option value="" selected="Selected" required>Pilih Provinsi</option>
            </select>
          </div>
          <div class="form-group">
            <label for="order.CityKabID">City / Kabupaten</label>
            <select name="order.CityKabID" class="form-control" id="CityKabID">
              <option value="None" selected="Selected">Pilih City / Kabupaten</option>
            </select>
          </div>
          <div class="form-group">
            <label for="order.KecamatanID">Kecamatan</label>
            <select name="order.KecamatanID" class="form-control" id="KecamatanID">
              <option value="None" selected="Selected">Pilih Kecamatan</option>
            </select>
          </div>  
          <div class="form-group">
            <label for="order.KelurahanID">Kelurahan</label>
            <select name="order.KelurahanID" class="form-control" id="KelurahanID">
              <option value="None" selected="Selected">Pilih Kelurahan</option>
            </select> 
          </div>          
        </form>
      </div>
      <!-- /.box-body -->
    </div>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function()
  {
    div = '#editOrder';
    $.ajax({        
      url: site+'/api/v1/order/1',
      beforeSend: function(){
            // $(div).html('<div id="LoadingBlock">'+image_load + '</div>');
          },
          success: function(response){
            // $(div).css("display", "none");    
            // $(div).fadeIn(300);                 
            $.each($.parseJSON(response), function(i, item) {
                $('<tr>').append(
                $('<td>').text(item.CreatedAt),
                $('<td>').text(item.name),
                $('<td>').text(item.phone),
                $('<td>').text(item.numberoforder),
                $('<td>').text(item.paymentamount),
                $('<td>').text(item.productcode),
                $('<td>').text(item.status)).appendTo('#orderPerPhoneTable');                
              });              
          },
          dataType:"html"     
        });    

    var urlBase = "http://localhost:8000/api/v1";
    $.getJSON(urlBase + "/WayOfContact",function(obj)
    {
      $.each(obj.payload,function(key,value)
      {
       var option = $('<option />').val(value.id).text(value.description);
       $("#WayOfContact").append(option);
     });
    });

    function clearCombo(id, text){
      object = $(id);
      object.empty();
      object.append($('<option>', {value: 0,text: text}));
    }

    nameProvinsi = "#ProvinsiID"
    nameCityKab = '#CityKabID'
    nameKecamatan = '#KecamatanID'
    nameKelurahan = '#KelurahanID'

    $.getJSON(urlBase + "/address/provinsi",function(obj)
    {
      $.each(obj.payload,function(key,value)
      {
       var option = $('<option />').val(value.id).text(value.provinsi);
       $(nameProvinsi).append(option);
     });

    });

    $(nameProvinsi).on('change', function(){      
     provinsiId = $(nameProvinsi).val();

     $.getJSON(urlBase + "/address/cityKab/"+provinsiId,function(obj)
     {
      clearCombo(nameCityKab, 'Pilih City / Kabupaten');            
      clearCombo(nameKecamatan, 'Pilih Kecamatan');
      clearCombo(nameKelurahan, 'Pilih Kelurahan');

      $.each(obj.payload,function(key,value)
      {
       var option = $('<option />').val(value.id).text(value.city_kab);
       $(nameCityKab).append(option);
     });
    });
   });

    $(nameCityKab).on('change', function(){     
      provinsiId = $(nameProvinsi).val();
      cityKabId = $(nameCityKab).val();


      $.getJSON(urlBase + "/address/kecamatan/"+provinsiId+"/"+cityKabId,function(obj)
      {
        clearCombo(nameKecamatan, 'Pilih Kecamatan');
        clearCombo(nameKelurahan, 'Pilih Kelurahan');
        $.each(obj.payload,function(key,value)
        {
          var option = $('<option />').val(value.id).text(value.kecamatan);
          $(nameKecamatan).append(option);
        });
      });
    });

    $(nameKecamatan).on('change', function(){      
     provinsiId = $(nameProvinsi).val();
     cityKabId = $(nameCityKab).val();
     kecamatanId = $(nameKecamatan).val();

     $.getJSON(urlBase + "/address/kelurahan/"+provinsiId+"/"+cityKabId+"/"+kecamatanId,function(obj)
     {
      clearCombo(nameKelurahan, 'Pilih Kelurahan');
      $.each(obj.payload,function(key,value)
      {
       var option = $('<option />').val(value.id).text(value.kelurahan + ' ' + value.postal_code);
       $(nameKelurahan).append(option);
     });
    });
   });

  });
</script>