<div class="row">
  <div class="col-xs-12">
    <div class="box box-warning">
      <div class="box-header with-border">
        <h3 class="box-title">Network Edit</h3>
        <div class="btn-group pull-right">                
          <a href="#" onclick="loadPage('/page/networks','#data-container', 'Network', 'View');" class="btn btn-default btn-sm">
            Cancel
          </a>
          <a href="#" onclick="CreateNetwork();" class="btn btn-success btn-sm" style="float:right">
            {{if ne .network.ID 0 }}Update{{end}}
            {{if eq .network.ID 0 }}Submit{{end}}
          </a>
        </div>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <form name="NetworkEdit" class="form-horizontal">
          {{.flash.success}}
          {{.flash.error}}
          {{if ne .network.ID 0 }}
          <input type="hidden" id="network.ID" name="network.ID" value="{{.network.ID}}">
          {{end}}
          {{if ne .network.ID 0 }}
          <div class="form-group">
            <label for="network.ID" class="col-sm-2 control-label">Network ID</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="network.ID" name="network.ID" placeholder="Input Network Name" value="{{.network.ID}}" disabled>
            </div>
          </div>
          {{end}}
          <div class="form-group">
            <label for="network.NetworkName" class="col-sm-2 control-label">Name</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="network.NetworkName" name="network.NetworkName" placeholder="Input Network Name" value="{{.network.NetworkName}}">
            </div>
          </div>
          <div class="form-group">
            <label for="network.Description" class="col-sm-2 control-label">Description</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="network.Description" name="network.Description" placeholder="Input Network Description" value="{{.network.Description}}">
            </div>
          </div>
          <div class="form-group">
            <label for="network.PostbackURL" class="col-sm-2 control-label">Postback URL</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" id="network.PostbackURL" name="network.PostbackURL" placeholder="Input Postback URL" value="{{.network.PostbackURL}}">
            </div>
          </div>
          <div class="form-group">
            <label for="network.PostbackLeads" class="col-sm-2 control-label">Postback Leads</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" id="network.PostbackLeads" name="network.PostbackLeads" placeholder="Input Postback Leads" value="{{.network.PostbackLeads}}">
            </div>
          </div>
          <div class="form-group">
            <label for="network.PostbackSales" class="col-sm-2 control-label">Postback Sales</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" id="network.PostbackSales" name="network.PostbackSales" placeholder="Input Postback Sales" value="{{.network.PostbackSales}}">
            </div>
          </div>
          <div class="form-group">
            <label for="network.ClickIDSale" class="col-sm-2 control-label">Click ID Sale</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" id="network.ClickIDSale" name="network.ClickIDSale" placeholder="Input Network Name" value="{{.network.ClickIDSale}}">
            </div>
          </div>      
        </form>
      </div>
      <!-- /.box-body -->
    </div>
  </div>
</div>
<script type="text/javascript">
  function CreateNetwork(){
    $.ajax({
      url: site+'page/network/', 
      data: $(document.NetworkEdit.elements).serialize(),
      error: function (request, error) {            
        alert(" What can I do, an error happened : " + error);
      },
      beforeSend: function(){
        // $(div).html('<div id="LoadingBlock">'+image_load + '</div>');
      },
      success: function(response){
        if(!response)
        {
          alert(response);
        }
        else
        {
          $(data_container).css("display", "none");      
          $(data_container).fadeIn(300);
          $(data_container).html(response);                 
        }
      },
      type: "POST",
      dataType: "html"
    });
  }
</script>