<div class="tab-content">
  <div role="tabpanel" class="tab-pane active" id="view">
    <div class="row">
      <div class="col-xs-12">
        <div class="box">
          <div class="box-header">
            <!-- <h3 class="box-title">Hover Data Table</h3> -->
            <form class="form-inline">
              <input type="hidden" name="page">
              <div class="form-group">
                <select id="PagingLimit" name="PagingLimit" class="form-control input-sm">                  
                  <option value="5" {{ if eq .session.limit "5"}}selected{{end}}>5</option>   
                  <option value="10" {{ if eq .session.limit "10"}}selected{{end}}>10</option>
                  <option value="25" {{ if eq .session.limit "25"}}selected{{end}}>25</option>
                </select>
              </div>  
              <div class="input-group">
                <input id="search" type="search" name="search" class="form-control" placeholder="Search for..." value="{{.session.search}}">
                <span class="input-group-btn">
                  <a id="searchButton" class="btn btn-default">Clear Filter</a>
                </span>
              </div>       
            </form>
          </div>
          <div class="box-body">
            <table class="table table-bordered table-hover table-condensed">
              <thead>                
                <td width="3%">#</td>
                <td width="12%">Tran. Date</td>                
                <td width="30%">Name</td>
                <td width="10%">Phone</td>
                <td width="10%">Num. Bottle</td>
                <td width="10%">Payment Amount</td>
                <td width="5%">Product</td>
                <td width="5%">Status</td>
              </thead>
              <tbody>    
                {{range $index, $order := .orders}}
                <tr>
                  <td>{{seqno $index $.startIndex}}</td>
                  <td>{{ timeFormat .CreatedAt }}</td>      
                  <td>{{ .Name }}</td>
                  <td><a href="#editOrder" aria-controls="editOrder" role="tab" data-toggle="tab" onclick="EditOrder();">{{ .Phone }}</a></td>
                  <td>{{ .NumberOfOrder }}</td>
                  <td>{{currency .PaymentAmount }}</td>
                  <td>{{ .ProductCode }}</td>
                  <td>{{ .Status }}</td>
                </tr>          
                {{end}}
              </tbody>
            </table>
            <div>
              <ul class="pagination pagination-sm">
                {{ range $index, $btn := .sliceBtns }}
                {{if eq $index $.currentBtn}}
                <li class="active">
                 {{else}}
                 <li>
                  {{end}}
                  <a onclick="load('/page/order/?page={{$btn}}','#data-container');" href="#">{{$btn}}</a>
                </li>
                {{end}}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div role="tabpanel" class="tab-pane" id="editOrder">

  </div>
</div>
<script type="text/javascript">
  var init = 0;

  function EditOrder(){
    // $('.breadcrumb li:last').remove();
    ChangeHeaderBreadcumb('Order','Edit');  
    load('/page/load/orderedit', '#editOrder');
    return false;
  }

  jQuery(function($) {           
    $('#PagingLimit').on('change', function() {            
      if (init == 1) {
        $( "select option:selected" ).each(function() {              
          load('/page/order/?limit=' + $( this ).text(),data_container);
        });
      }
      init = 1;
    }).trigger('change');
    $('#search').keypress(function(e) {
      if(e.which == 13) {
          search = 'search=' + $( this ).val();
          load('/page/order/?search=' + $( this ).val(),data_container);
      }
    });
    $('#searchButton').click(function() {
      load('/page/order/?clearSearch=1',data_container);     
    });
      // function throttle(f, delay){
      //     var timer = null;
      //     return function(){
      //         var context = this, args = arguments;
      //         clearTimeout(timer);
      //         timer = window.setTimeout(function(){
      //             f.apply(context, args);
      //         },
      //         delay || 500);
      //     };
      // }
      // $('#search').keyup(throttle(function(){
      //     search = 'search=' + $( this ).val();
      //     load('/page/order/?' + search,'#data-container');
      // }));    
    });
  </script>