<div class="row">
  <div class="col-md-6">
    <div class="box box-info">
      <div class="box-header with-border">
        <h3 class="box-title">Order Data</h3>
        <button type="button" class="btn btn-success btn-xs" style="float:right">
          Update
        </button>&nbsp;
        <button type="button" class="btn btn-danger btn-xs" style="float:right;margin-right: 5px;">
          Confirm Buy
        </button>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <form role="form">
          <!-- text input -->
          <div class="form-group">
            <label>Order ID</label>
            <p id="OrderId" class="form-control-static"></p>
          </div>
          <div class="form-group">
            <label>Order Status</label>
            <p id="OrderStatus" class="form-control-static"></p>
          </div>
          <div class="form-group">
            <label>Product Name</label>
            <p id="ProductName" class="form-control-static"></p>
          </div>
          <div class="form-group">
            <label>Number of Bottle</label>
            <select class="form-control" name="paket" id="paket" onchange="run()">
              <option value="1">1 paket</option>
              <option value="3">2+1 paket (BEST DEAL!)</option>
              <option value="5">3+2 paket</option>
            </select>
          </div>
          <div class="form-group">
            <label>Total Pembayaran</label>
            <p id="paymentamount" class="form-control-static"></p>
          </div>             
        </form>
      </div>
      <!-- /.box-body -->
    </div>
  </div>
  <div class="col-md-6">
    <div class="box box-success">
      <div class="box-header with-border">
        <h3 class="box-title">Data Customer</h3>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <form role="form">
          <!-- text input -->
          <div class="form-group">
            <label>Name</label>
            <input type="text" name="name" id="name" class="form-control" placeholder="Enter ...">
          </div>
          <div class="form-group">
            <label>Phone</label>
            <input type="text" name="phone" id="phone" class="form-control" placeholder="Enter ...">
          </div>
          <div class="form-group">
            <label>Address</label>
            <textarea name="address" id="address" class="form-control" rows="3" placeholder="Enter ..."></textarea>
          </div>
          <div class="form-group">
            <label>Email</label>
            <input type="text" name="email" id="email" class="form-control" placeholder="Enter ...">
          </div>
          <div class="form-group">
            <label for="order.ProvinsiID">Provinsi</label>
            <select name="order.ProvinsiID" class="form-control" id="ProvinsiID">
              <option value="None" selected="Selected" required>Pilih Provinsi</option>
            </select>
          </div>
          <div class="form-group">
            <label for="order.CityKabID">City / Kabupaten</label>
            <select name="order.CityKabID" class="form-control" id="CityKabID">
              <option value="None" selected="Selected">Pilih City / Kabupaten</option>
            </select>
          </div>
          <div class="form-group">
            <label for="order.KecamatanID">Kecamatan</label>
            <select name="order.KecamatanID" class="form-control" id="KecamatanID">
              <option value="None" selected="Selected">Pilih Kecamatan</option>
            </select>
          </div>  
          <div class="form-group">
            <label for="order.KelurahanID">Kelurahan</label>
            <select name="order.KelurahanID" class="form-control" id="KelurahanID">
              <option value="None" selected="Selected">Pilih Kelurahan</option>
            </select> 
          </div>          
        </form>
      </div>
      <!-- /.box-body -->
    </div>
  </div>
</div>
<script type="text/javascript">

        // $('#CityKabID').val(obj.citykabid).trigger('change');

        // $(div).css("display", "none");    
        // $(div).fadeIn(300);
        // $.each($.parseJSON(response), function(i, item) {
        //   $('<tr>').append(
        //     $('<td>').text(item.CreatedAt),
        //     $('<td>').text(item.name),
        //     $('<td>').text(item.phone),
        //     $('<td>').text(item.numberoforder),
        //     $('<td>').text(item.paymentamount),
        //     $('<td>').text(item.productcode),
        //     $('<td>').text(item.status)).appendTo('#orderPerPhoneTable');                
        // });   

        function run() {
          var resultVal = '0';
          if (document.getElementById("paket").value == '1') {
            resultVal = '550000';
          } else if (document.getElementById("paket").value == '3') {
            resultVal = '1100000';
          }else if (document.getElementById("paket").value == '5') {
            resultVal = '1650000';
          }
          $('#paymentamount').html(resultVal);      
        }


        $(document).ready(function()
        {
          urlBase = "http://localhost:8000/api/v1";
          nameProvinsi = "#ProvinsiID"
          nameCityKab = '#CityKabID'
          nameKecamatan = '#KecamatanID'
          nameKelurahan = '#KelurahanID'

          function getSetKelurahan(provinsiId='None', cityKabId='None', kecamatanId='None', kelurahanId='None'){
            $.ajax({
              url: urlBase+'/address/kelurahan/'+provinsiId+'/'+cityKabId+'/'+kecamatanId,
              success: function(response){
                var obj = $.parseJSON(response);
                $.each(obj.payload,function(key,value) {
                  var option = $('<option />').val(value.id).text(value.kelurahan + ' ' + value.postal_code);
                  $(nameKelurahan).append(option);
                });

                if (kelurahanId != 'None'){
                  $(nameKelurahan).val(kelurahanId);            
                }           
              },
              dataType:"html"     
            });
          }

          function getSetKecamatan(provinsiId='None', cityKabId='None', kecamatanId='None', kelurahanId='None'){
            $.ajax({
              url: urlBase+'/address/kecamatan/'+provinsiId+'/'+cityKabId,
              success: function(response){
                var obj = $.parseJSON(response);
                $.each(obj.payload,function(key,value) {
                  var option = $('<option />').val(value.id).text(value.kecamatan);
                  $(nameKecamatan).append(option);
                });

                if (kecamatanId != 'None'){
                  $(nameKecamatan).val(kecamatanId);
                  getSetKelurahan(provinsiId, cityKabId, kecamatanId, kelurahanId);
                }           
              },
              dataType:"html"     
            });
          }

          function getSetCityKab(provinsiId='None', cityKabId='None', kecamatanId='None', kelurahanId='None'){
            $.ajax({
              url: urlBase+'/address/cityKab/'+provinsiId,
              success: function(response){
                var obj = $.parseJSON(response);
                $.each(obj.payload,function(key,value) {
                  var option = $('<option />').val(value.id).text(value.city_kab);
                  $(nameCityKab).append(option);
                });

                if (cityKabId != 'None'){
                  $(nameCityKab).val(cityKabId);
                  getSetKecamatan(provinsiId, cityKabId, kecamatanId, kelurahanId);
                }           
              },
              dataType:"html"     
            });
          }

          function getSetProvinsi(provinsiId='None', cityKabId='None', kecamatanId='None', kelurahanId='None'){
            $.ajax({
              url: urlBase+'/address/provinsi',
              success: function(response){
                var obj = $.parseJSON(response);
                $.each(obj.payload,function(key,value){
                  var option = $('<option />').val(value.id).text(value.provinsi);
                  $(nameProvinsi).append(option);
                });

                if (provinsiId != 'None'){
                  $(nameProvinsi).val(provinsiId);
                  getSetCityKab(provinsiId, cityKabId, kecamatanId, kelurahanId);
                }
              },
              dataType:"html"     
            });
          }

          div = '#editOrder';
          $.ajax({        
            url: site+'api/v1/order/1',
            success: function(response){
              var obj = $.parseJSON(response);
              $('#OrderId').html(obj.orderid);
              $('#ProductName').html(obj.productcode);
              $('#OrderStatus').html(obj.status);
              $('#paymentamount').html(obj.paymentamount);
              $("#paket").val(obj.packettype);

              $('#name').val(obj.name);
              $('#phone').val(obj.phone);
              $('#address').val(obj.address);
              $('#email').val(obj.email);
        // $('#ProvinsiID').val(obj.provinsiid).trigger('change');
        getSetProvinsi(obj.provinsiid, obj.citykabid, obj.kecamatanid, obj.kelurahanid);

      },
      dataType:"html"
    });

          $.getJSON(urlBase + "/WayOfContact",function(obj)
          {
            $.each(obj.payload,function(key,value)
            {
             var option = $('<option />').val(value.id).text(value.description);
             $("#WayOfContact").append(option);
           });
          });

          function clearCombo(id, text){
            object = $(id);
            object.empty();
            object.append($('<option>', {value: 0,text: text}));
          }

    // $.getJSON(urlBase + "/address/provinsi",function(obj){
    //   $.each(obj.payload,function(key,value){
    //     var option = $('<option />').val(value.id).text(value.provinsi);
    //     $(nameProvinsi).append(option);
    //  });
    // });

    // $(nameProvinsi).on('change', function(){      
    //   provinsiId = $(nameProvinsi).val();

    //   $.getJSON(urlBase + "/address/cityKab/"+provinsiId,function(obj){
    //     clearCombo(nameCityKab, 'Pilih City / Kabupaten');            
    //     clearCombo(nameKecamatan, 'Pilih Kecamatan');
    //     clearCombo(nameKelurahan, 'Pilih Kelurahan');

    //     $.each(obj.payload,function(key,value) {
    //       var option = $('<option />').val(value.id).text(value.city_kab);
    //       $(nameCityKab).append(option);
    //     });
    //   });
    // });

    // $(nameCityKab).on('change', function(){     
    //   provinsiId = $(nameProvinsi).val();
    //   cityKabId = $(nameCityKab).val();

    //   $.getJSON(urlBase + "/address/kecamatan/"+provinsiId+"/"+cityKabId,function(obj) {
    //     clearCombo(nameKecamatan, 'Pilih Kecamatan');
    //     clearCombo(nameKelurahan, 'Pilih Kelurahan');

    //     $.each(obj.payload,function(key,value) {
    //       var option = $('<option />').val(value.id).text(value.kecamatan);
    //       $(nameKecamatan).append(option);
    //     });
    //   });
    // });

    // $(nameKecamatan).on('change', function(){      
    //   provinsiId = $(nameProvinsi).val();
    //   cityKabId = $(nameCityKab).val();
    //   kecamatanId = $(nameKecamatan).val();

    //   $.getJSON(urlBase + "/address/kelurahan/"+provinsiId+"/"+cityKabId+"/"+kecamatanId,function(obj) {
    //     clearCombo(nameKelurahan, 'Pilih Kelurahan');
    //     $.each(obj.payload,function(key,value) {
    //       var option = $('<option />').val(value.id).text(value.kelurahan + ' ' + value.postal_code);
    //     $(nameKelurahan).append(option);
    //     });
    //   });
    // });

  });
</script>