<div class="tab-content">
  <div role="tabpanel" class="tab-pane active" id="view">
    <div class="row">
      <div class="col-xs-12">
        <div class="box">
          <div class="box-header">
            <!-- <h3 class="box-title">Hover Data Table</h3> -->
            <form class="form-inline">
              <input type="hidden" name="page">
              <div class="form-group">
                <select id="PagingLimit" name="PagingLimit" class="form-control">                  
                  <option value="5" {{if eq .session.limit "5"}}selected{{end}}>5</option>   
                  <option value="10" {{if eq .session.limit "10"}}selected{{end}}>10</option>
                  <option value="25" {{if eq .session.limit "25"}}selected{{end}}>25</option>
                </select>
              </div>
              <div class="input-group">
                <input id="search" type="search" name="search" class="form-control" placeholder="Search for..." value="{{.session.search}}">
                <span class="input-group-btn">
                  <button id="searchButton" class="btn btn-default" type="submit">Clear Filter</button>
                </span>                
              </div>
              <div class="btn-group btn-group-sm pull-right">                
                <a href="#" onclick="loadPage('/page/networks','#data-container', 'Network', 'View');" class="btn btn-default">
                  Refresh
                </a>                
                <a href="#" onclick="load('/page/network/', data_container)" class="btn btn-default">
                  New Network
                </a>
              </div>
            </form>
          </div>
          <div class="box-body">
            <div class="table-responsive">
              <table class="table table-bordered table-hover table-condensed">
                <thead>            
                  <td width="8%">Network ID</td>
                  <td width="15%">Name</td>
                  <td width="15%">Description</td>
                  <td width="15%">Postback URL</td>
                  <td width="15%">Postback Leads</td>
                  <td width="15%">Postback Sales</td>
                  <td width="5%"></td>
                </thead>
                <tbody>    
                  {{range $index, $networks := .networks}}
                  <tr>
                    <td>{{ .ID }}</td>
                    <td>{{ .NetworkName }}</td>
                    <td>{{ .Description }}</td>
                    <td>{{ .PostbackURL }}</td>
                    <td>{{ .PostbackLeads }}</td>
                    <td>{{ .PostbackSales }}</td>
                    <td align="center">
                      <a href="#" aria-controls="editNetwork" role="tab" data-toggle="tab" onclick="EditNetwork('{{ .ID }}');">Edit
                        <!-- <i class="fa fa-edit"></i> -->
                      </a>
                    </td>
                  </tr>          
                  {{end}}
                </tbody>
              </table>
            </div>
            <div>
              <ul class="pagination pagination-sm">
                {{ range $index, $btn := .sliceBtns }}
                {{if eq $index $.currentBtn}}
                <li class="active">
                 {{else}}
                 <li>
                  {{end}}
                  <a onclick="load('/page/networks/?page={{$btn}}','#data-container');" href="#">{{$btn}}</a>
                </li>
                {{end}}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div role="tabpanel" class="tab-pane" id="editNetwork">

  </div>
</div>
<script type="text/javascript">
  var init = 0;
  function EditNetwork(networkid){
    ChangeHeaderBreadcumb('Network','Edit');
    load('/page/network/'+networkid,'#data-container');
  }
  jQuery(function($) {           
    $('#PagingLimit').on('change', function() {            
      if (init == 1) {
        $( "select option:selected" ).each(function() {              
          load('/page/networks/?limit=' + $( this ).text(),'#data-container');
        });
      }
      init = 1;
    }).trigger('change');
    $('#search').keypress(function(e) {
      if(e.which == 13) {
        search = 'search=' + $( this ).val();
        load('/page/networks/?search=' + $( this ).val(),'#data-container');
      }
    });
    $('#searchButton').click(function() {
      load('/page/networks/?clearSearch=1','#data-container');          
    }); 
  });
</script>