<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar user panel -->
    <div class="user-panel">
      <div class="pull-left image">
        <img src="/public/img/user2-160x160.jpg" class="img-circle" alt="User Image">
      </div>
      <div class="pull-left info">
        <p>{{ .session.username }}</p>
        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
      </div>
    </div>
    <!-- search form -->
    <form action="#" method="get" class="sidebar-form">
      <div class="input-group">
        <input type="text" name="q" class="form-control" placeholder="Search...">
        <span class="input-group-btn">
          <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
          </button>
        </span>
      </div>
    </form>
    <!-- /.search form -->
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu" data-widget="tree">
      <li class="header">MAIN NAVIGATION</li>
      <li id="menu-Dashboard" class="active"><a href="#" onclick="loadPage('/page/dashboard','#data-container', 'Dashboard', 'Control Panel');"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>            
      <li id="menu-Order"><a href="#" onclick="loadPage('/page/order?page=1','#data-container', 'Order', 'View');"><i class="fa fa-shopping-cart"></i> <span>Order</span></a></li>
      <li id="menu-Network"><a href="#" onclick="loadPage('/page/networks','#data-container', 'Network', 'View');"><i class="fa fa-share-alt"></i> <span>Network</span></a></li>
      <li id="menu-Network"><a href="#" onclick="loadPage('/page/users','#data-container', 'Staff', 'View');"><i class="fa fa-users"></i> <span>Staff</span></a></li>
      <li id="menu-Network"><a href="#" onclick="loadPage('/page/network','#data-container', 'Network', 'View');"><i class="fa fa-product-hunt"></i> <span>Product</span></a></li>
      <li id="menu-Network"><a href="#" onclick="loadPage('/page/network','#data-container', 'Network', 'View');"><i class="fa fa-cog"></i> <span>Setting</span></a></li>
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>